@use "../abstracts/colors" as c;

#request-modal-center .modal-content {
  width: 41% !important;
}

#request-modal-header {
  background-color: #fff !important;
  color: c.color(primary-color) !important;
}
.request-form-group {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(214, 214, 214, 0.5);
  border-bottom: 1px solid rgba(214, 214, 214, 0.5);
  padding: 5px;
}

.request-button-group {
  display: flex;
}

.modal-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-bottom: 1px solid #dee2e6;
  background-color: c.color(primary-color) !important;
  color: c.color(white) !important;
  text-align: center !important;
}

.request-center-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.span-center-title {
  font-size: x-large;
}
.Modal-Body {
  padding: 2rem 2rem 1rem 2rem;
}

.request-modal-body {
  padding: 0rem;
}

.Modal-Input {
  width: 100%;
  padding: 0.9rem;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}

.Modal-textarea-middle {
  margin-top: 1rem;
}

.Modal-textarea {
  width: 100%;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
  padding: 0.9rem;
}

.Modal-two-input {
  width: 50%;
}

.Modal-data-time {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}

#Modal-textarea-input-sub {
  width: 100% !important;
  padding: 0.9rem !important;
  border: 2px solid c.color(border) !important;
  border-radius: 5px !important;
}

.div-space {
  width: 1rem;
}

.Add-btn-modal {
  width: 100%;
  background-color: c.color(primary-color) !important;
  color: #fff !important;
  padding: 0.8rem !important;
}

.btn-modal-container {
  padding-top: 2rem;
}

.Create-event {
  width: 100%;
  padding: 0.4rem 2rem !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  font-size: 1.4rem;
  background-color: c.color(primary-color) !important;
  color: c.color(white) !important;
  margin-top: 1rem !important;
}
