.entries-perpage {
  color: #5c5c5c;
  margin-left: 25px;
}
.entries-perpage select {
  color: #5c5c5c;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: 0;
  border: 1px solid #cfcfcf;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.entries-perpage select:focus {
  border: 1px solid #e2522e;
  box-sizing: 0 0 3px #000;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}