.csv-input {
  padding: 10px !important;
  display: block !important;
  margin: 15px auto !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

.upload-form {
  padding: 0 1.5rem !important;
}

.upload-icon,
.upload-icon-active {
  text-align: center !important;
}
.upload-icon i {
  color: #f6f6f6 !important;
}
.upload-icon-active i {
  color: #e2522e !important;
}
.upload-icon p {
  color: #5c5c5c !important;
  margin: 0 !important;
}
.upload-icon-active p {
  color: #5c5c5c !important;
  margin-top: .4rem !important;
}

.csv-input {
  // border: 1px solid #c5c5c5 !important;
}

.upload-progress-bar {
  background-color: #f6f6f6 !important;
  border-radius: .1rem !important;
}
.upload-progress-bar .progress-bar {
  background-color: #e2522e !important;
  font-weight: bold !important;
}

// button.upload-base-btn {
//   background-color: #e2522e !important;
//   color: #ffff !important;
//   border-radius: 3px !important;
//   font-weight: bold !important;
//   padding: 5px 20px !important;
//   border: none !important;
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15),
//     0 0 16px rgba(218, 209, 209, 0.15) !important;
//   transition: all 0.3s ease-out !important;
//   -webkit-transition: all 0.3s ease-out !important;
// }
// button.upload-base-btn:hover {
//   background-color: #cf4c2b !important;
// }
// button.upload-base-btn i {
//   padding-left: .5rem !important;
// }


.container {
  text-align: center !important;
  padding: 15px !important;
  margin: 10px auto !important;
}

.csv-input {
  padding: 10px !important;
  display: block !important;
  margin: 15px auto !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

.container p {
  padding-top: 10px !important;
  color: #666 !important;
}


.upload-toast{
    width: 100% !important;
}


.logic-modal .toast-body.upload-toast {
  color: #e2522e !important;
  display: grid !important;
  grid-template-columns: .03fr 1fr .03fr !important;
  padding-left: 20px !important; 
  padding-top: 15px !important;
  padding-bottom: 15px;
  border: 2px solid #e2522e !important;
}
 
.logic-modal .toast-body .upload-toast  p {
  color: #e2522e !important;
  font-weight: bold !important;
  margin: 0 !important;
  width: 100% !important;
} 

.createNU-grid {
  display: grid !important;
  grid-template-columns: 3fr 1fr 2fr !important;
}

.uploadbtn {
  background-color: #fff !important;
  color: #3f3f3f !important;
  border-radius: 3px !important;
  font-weight: bold !important;
  padding: 8px 10px !important;
  border: 1px solid #e8e8e8 !important;
  transition: all 0.3s ease-out !important;
  -webkit-transition: all 0.3s ease-out !important;
}
.uploadbtn i {
  color: #e2522e !important;
  margin-left: 7px !important;
}


// file upload

/* ------------ */

.card13 {
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fff;
  border: none;
}
.card-body {
  padding: 30px;
}
.btn-primary {
  border-color: #5a8dee !important;
  background-color: #5a8dee !important;
  color: #fff;
}
.form-submit {
  padding: 13px 30px;
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.kb-data-box {
  width: 100%;
  flex: 1;
}

.kb-modal-data-title {
  margin-bottom: 10px;
}
.kb-data-title h6 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
}
.kb-file-upload {
  margin-bottom: 20px;
}
.file-upload-box {
  border: 1px dashed #b6bed1;
  background-color: #f0f2f7;
  border-radius: 4px;
  min-height: 150px;
  position: relative;
  overflow: hidden;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8194aa;
  font-weight: 400;
  font-size: 15px;
}
.file-upload-box .file-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.file-link {
  color: #475f7b;
  text-decoration: underline;
  margin-left: 3px;
}
.file-upload-box .file-link:hover {
  text-decoration: none;
}
.file-atc-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.file-image {
  /* width: 130px;
    min-width: 130px;
    height: 85px;
    min-height: 85px; */
  width: 130px;
  height: 85px;
  background-size: cover;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #eaecf1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #475f7b;
  padding: 3px;
}
.file-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}
.file-detail {
  flex: 1;
  width: calc(100% - 210px);
}
.file-detail h6 {
  word-break: break-all;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.file-detail p {
  font-size: 12px;
  color: #8194aa;
  line-height: initial;
  font-weight: 400;
  margin-bottom: 8px;
}
.file-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.file-action-btn {
  font-size: 12px;
  color: #8194aa;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  margin-right: 15px;
  cursor: pointer;
}
.file-action-btn:hover {
  color: #3d546f;
  text-decoration: underline;
}
.file-atc-box:last-child {
  margin-bottom: 0;
}

