.allemployees-container-main {
  display: flex !important;
  justify-content: space-between !important;
  overflow-y: scroll;
}

.allemployees-container {
  width: 100%;
  height: 100%;
}

.allemployees-container-sup {
  display: flex;
  // width: 30%;
  // background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allemployees-sup-item1 {
  margin-right: 2rem;
}
.allemployees-sup-item2 {
  margin-right: 4rem;
}

.employee-main-div-col {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 24%);
  display: flex;
  flex-direction: column;
  padding: 1.1rem;

  &-header {
    display: flex;
    justify-content: space-between; 

    &-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .allemployees-container-main {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
  }

 
}

@media only screen and (max-width: 1080px) { 
  .employee-main-div-col {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 24%);
  display: flex;
  flex-direction: column;
  padding: 1.1rem;

  &-header {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;

    &-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}
}

.edit-icon-color :hover {
  color: aqua !important;
}
.lock-icon-color :hover {
  color: crimson !important;
}

.upwrap {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.theme-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid #444;
  border-radius: 10px;
  width: auto;
}

.custom-radio-button {
  width: 20px;
  height: 20px;
  /*border: 2px solid #444;
   border-radius: 50%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-radio-button input {
  display: none;
}

.custom-radio-button .checkmark {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  /*opacity: 0;*/
  transition: opacity 0.3s ease;
  opacity: 0.3;
}

.custom-radio-button input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
  z-index: 2;
  background-color: green;
}

.custom-radio-button input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
  z-index: 2;
  background-color: green;
}

.custom-radio-button input:not(:checked) + .checkmark:hover {
  background-color: green;
}

label .label_text {
  z-index: -100;
  display: none;
}

.period_text {
  text-align: center;
}
