@use "../abstracts/colors" as c;

// .EssentialsContainer .form-row  form input[type=date],
// .EssentialsContainer .form-row  form input[type=email],
// .EssentialsContainer .form-row  form input[type=number],
// .EssentialsContainer .form-row  form input[type=password],
// .EssentialsContainer .form-row  form input[type=text],
// .EssentialsContainer .form-row  form select {
//     margin-bottom: 1vh !important;
//     height: 45px !important;
//     background-color: #fff !important;
//     border-radius: 3px !important;
//     border: 1px solid #e8e8e8 !important;
//     box-shadow: 0 0 2px #e8e8e8 !important;
// }

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.addemployeecontainer {
  width: 100%;
  min-height: 100%;
  background-color: c.color(white);
  box-shadow: c.$box-card-shadow;
}

.addemployeecontainer-sup {
  background-color: c.color(primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5rem;
  overflow-y: scroll;
}

.addemployee-sup {
  display: flex;
  padding: 1rem;
}
.addemployeecontainer-title {
  color: c.color(white);
  cursor: pointer;
  white-space: nowrap;
  margin: 0px !important;
}

.addemployee-space {
  width: 1rem;
}

.back-to-employee-container {
  // margin-bottom: 0.5rem;
  display: flex; 
}

.back-to-employee-button {
  border: 2px solid c.color(white) !important;
  padding: 4px 2rem !important;
  color: c.color(white) !important;
  font-weight: bold !important;
  margin-right: 1rem !important;
}

.addemployee-back {
  border: 2px solid c.color(white) !important;
  padding: 4px 2rem !important;
  color: c.color(white) !important;
  font-weight: bold !important;
}

.addemployee-back2 {
  border: 2px solid c.color(white) !important;
  padding: 4px 2rem !important;
  color: c.color(primary-color) !important;
  font-weight: bold !important;
  background-color: c.color(white) !important;
}

.addemployee-essential-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  align-self: center;
}

.essential-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
}

.vl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  margin-bottom: 1rem;
}

.vl-hline {
  width: 16rem;
  height: 1.5px;
  background-color: c.color(black-100);
  border-radius: 10;
  // position: absolute;
}

.vl-circles {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid c.color(black-100);
  background-color: c.color(white);
  z-index: 999999 !important;
}

.vl-circles-active {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  // border: 1px solid c.color(black-100);
  background-color: c.color(primary-color);
  z-index: 999999 !important;
}

.vl-circles-title {
  color: c.color(circle-next-color) !important;
}

.all-inputs-container {
  padding: 1rem 5rem;
  // background-color: aquamarine;
  height: 100%;
}

.addemployeecontainer-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

// .next-tab-line{
// 	width: 100px !important;
// 	height: 3px !important;
// 	// background-color: black !important;
// }

.next-tab-line-subs {
  display: flex;
  // flex-direction: column;
}

.hr1 {
  width: 120px;
  height: 20px;
  border: 0;
  height: 2px !important;
  background-color: c.color(black-100);
  position: absolute;
}

.tab-line-subs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// stepper Navigation

.Stepper {
  position: relative;
  display: table;
  width: 50%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
  margin-top: 1rem;
  white-space: nowrap;
  overflow-y: scroll !important;
}

.Stepper__step {
  position: relative;
  display: table-cell;
  text-align: center;
  padding: 0.5rem;
}

.Stepper__indicator {
  position: relative;
  display: block;
  z-index: 2;
}

.Stepper__label {
  position: relative;
  display: block;
  margin: 0.5rem 0;
  color: #333333;
  z-index: 2;
}

.Stepper__info {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid c.color(black-100);
  background-color: c.color(white);
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.Stepper__info__active {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid c.color(primary-color);
  background-color: c.color(primary-color);
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.Stepper__panel {
  display: none;
}

.Stepper .Stepper__step:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 1rem;
  width: 100%;
  height: 0.125rem;
  background-color: c.color(black-100);
  z-index: 1;
}
.Stepper .Stepper__step:last-child:after {
  display: none;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: inherit;
  padding: 3px;
}
form {
  width: 100%;
  // padding: 20px;
  // background: #fff;
  // box-shadow: 0 2px 5px #ccc;
}
// input, select, textarea {
// margin-bottom: 10px;
// border: 1px solid #ccc;
// border-radius: 3px;
// }
// input {
// width: calc(100% - 10px);
// padding: 5px;
// }
// select {
// width: 100%;
// padding: 7px 0;
// background: transparent;
// }
// textarea {
// width: calc(100% - 6px);
// }
.item {
  position: relative;
  margin: 10px 0;
}
.item:hover p,
.item:hover i {
  color: c.color(primary-color) !important;
}

.item i {
  right: 1%;
  top: 30px;
  z-index: 1;
}
.btn-block {
  margin-top: 20px;
  text-align: center;
}
.name-item-input {
  width: 100%;
}
.name-item {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.imput-space {
  width: 3rem;
}

@media only screen and (min-width: 768px) {
  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-item input,
  .city-item input {
    width: calc(50% - 20px);
  }
  .city-item select {
    width: calc(50% - 8px);
  }
}

@media only screen and (max-width: 768px) {
  .Stepper {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1rem;
    white-space: nowrap;
    overflow-y: scroll !important;
  }
  .row-item {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}
@media only screen and (max-width: 1080px) {
  .Stepper {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1rem;
    white-space: nowrap;
    overflow-y: scroll !important;
  }
  .row-item {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }

  .all-inputs-container {
    padding: 1rem 1rem;
    // background-color: aquamarine;
    height: 100%;
  }
}

.row-item {
  display: flex;
  justify-content: space-between;
}

.cleaveInput {
  input {
    padding: 0.4rem !important;
    background-color: white;
  }
}

.special-label {
  font-size: 14px;
}
.form-group {
  margin-top: 1rem;

  &__gender .form-control {
    color: c.color(grey-200);
    font-size: 12px;
    padding: 0.575rem 0.75rem;
  }

  &__cleaveInput {
    input {
      padding: 0.4rem !important;
    }
  }

  &__status .form-control {
    width: 48%;
    color: c.color(grey-200);
    font-size: 12px;
    padding: 0.575rem 0.75rem;
  }

  &__datepicker {
    font-size: 12px !important;
    padding: 0.575rem 0.75rem;
  }
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  background-color: #fff;
  opacity: 0.02;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.more-view{
  width: 100% !important;
  height: 100% !important;
  // height: 100vh !important;
}



// profile start


.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}


// profile end