@use "../abstracts/colors" as c;

.container {
  display: flex;
}
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-todo-input {
  width: 1rem;
  height: 1rem;
  background-color: #1a1a1a;
}


 

.todo-RiTodoLine{
  margin: auto;
  color: #cacaca !important;
}

.table-loader-announcement{
  display: flex !important;
  justify-content: center !important;
  color: #cacaca !important;
  align-items: center !important;
    text-align: center !important;
    align-self: center !important;
    margin: 5rem !important;
     height: 100%;  
}
.table-loader-announcement1{
  display: flex !important;
  justify-content: center !important;
  color: #cacaca !important;
  align-items: center !important;
    text-align: center !important;
    align-self: center !important;
    margin: 2rem !important;
     height: 100%; 
    //  margin: auto !important;
    // padding:5rem !important;
    // padding-bottom: 1.5rem !important;
}
.main-todo-input {
  padding-right: 1rem;
}
.main-todo-Event {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 4rem;
  width: 100%;
  padding: 0.3;
  background-color: #f6f6f6;
  border: 2px solid #e3e3e3 !important;
  margin-bottom: 1rem;
}

.main-todo-title {
  margin-bottom: 1rem;
   display: flex;
  justify-content: space-between;
}

.main-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.main-todo-1 {
  width: 100%;
  height: 95%;
  padding: 1.2rem;
  height: 95%;
  padding: 1.2rem;

  // background-color: #990000;
}
.main-todo-2 {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 10%;
}

.show-btn {
  height: 1rem !important;
  font-weight: bold !important;
  border: 2px solid c.color(primary-color) !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: c.color(primary-color) !important;
  font-weight: bold !important;
}
.show-btn-schedule {
  width: 100%;
  height: 1rem !important;
  font-weight: bold !important;
  border: 1.5px solid c.color(white-100) !important;
  border-top: 1.5px solid c.color(light-grey-border) !important;
  padding: 1.3rem !important;
  border-radius: 0px 0px 4px 4px !important;
  color: c.color(primary-color) !important;
  font-weight: bold !important;
}
.show-btn-schedule:hover {
  width: 100%;
  height: 1rem !important;
  font-weight: bold !important;
  background-color: c.color(primary-color) !important  ;
  border: 0px !important;
  padding: 1.3rem !important;
  border-radius: c.color(light-grey-border) !important;
  color: c.color(white-100) !important;
  font-weight: bold !important;
}
.show-btn-schedule {
  width: 100%;
  height: 1rem !important;
  font-weight: bold !important;
  border: 1.5px solid c.color(white-100) !important;
  border-top: 1.5px solid c.color(light-grey-border) !important;
  padding: 1.3rem !important;
  border-radius: 0px 0px 4px 4px !important;
  color: c.color(primary-color) !important;
  font-weight: bold !important;
}
.show-btn-schedule:hover {
  width: 100%;
  height: 1rem !important;
  font-weight: bold !important;
  background-color: c.color(primary-color) !important  ;
  border: 0px !important;
  padding: 1.3rem !important;
  border-radius: c.color(light-grey-border) !important;
  color: c.color(white-100) !important;
  font-weight: bold !important;
}
// .show-btn {
//   height: 1rem !important;
//   font-weight: bold !important;
//   border: 2px solid c.color(primary-color)!important;
//   padding: 1.3rem !important;
//   border-radius: 4px !important;
//   color: c.color(primary-color)!important;
//   font-weight: bold !important;
// }
.Add-btn {
  height: 1rem !important;
  font-weight: bold !important;
  background-color: c.color(primary-color) !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: c.color(white) !important;
  .MuiButton-label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
  }
}

.OpenInFull {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  margin: 2px !important;
  cursor: pointer;
}
.event-time {
  color: #990000;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  align-items: center;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 10px;
}
.event-days {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;
  margin-bottom: 10px;
  font-feature-settings: "salt" on, "liga" off;
}
.event-months {
  font-weight: bold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px !important;
}
.main-min-text {
  margin-top: 2.5rem;
  padding-left: 5px;
  box-sizing: border-box !important;
  flex-wrap: wrap;

  height: 70%;

  &-header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

.main-min-text2 {
  padding-top: 10px;
  flex-wrap: wrap;
  width: 90%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.main-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 0 0 1rem;
}

.main-div-col-1 {
  width: 96%;

  height: 100%;
}
.main-div-col-2 {
  display: flex;
  flex-direction: column;
  // padding: 1.2rem;
  // padding: 1.2rem;
  width: 100%;
  height: 98%;
  background-color: c.color(white);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

// main-div-col-2

.main-div-col-1-sub {
  width: 100%;
  height: 24%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.main-div-col-2-sub {
  width: 100%;
  height: 74%;
  background-color: c.color(white);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  padding: 1.2rem;
}
.admin-main-div-col-2-sub {
  margin-top: 2rem;
  width: 100%;
  height: 46%;
  background-color: c.color(white);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  padding: 1.2rem;
}
.admin-main-div-col-2-sub {
  margin-top: 2rem;
  width: 100%;
  height: 46%;
  background-color: c.color(white);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  padding: 1.2rem;
}

.main-div-col-1-sub-min {
  width: 97%; //97%
  height: 10.625rem;
  background-color: c.color(white);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-template-columns: 1.2fr 2fr;
}

.main-div-col-1-sub-min-img {
  width: 100%;
  height: 100%;
}

// .main-div-col-2-sub {
//   display: flex;
//   flex-direction: column;
// }
.Announcement-sub-1 {
  width: 100%;
  // height: 20%;
  padding: 0.4rem 0.4rem 1rem 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Announcement-container {
  // overflow-y: scroll !important; 
  // max-height: 35rem !important;
}
.Admin-Announcement-container {
  height: 15rem;
  overflow-y: auto !important;
}

.BsFillPinAngleFill {
  margin-right: 1rem;
}
.main-todo-note {
  margin-left: 0.8rem;
}

.Announcement-sub-text {
  display: flex !important;
  align-items: center !important;
}

.sub-text-contained {
  margin-right: 4rem !important;
}
.Announcement-sub-2 {
  width: 100%;
  overflow-y: scroll !important; 
  max-height: 34rem ;
}

.main-sub-img {
  object-fit: fill;
  width: 12.625rem; //230px
  height: 9.875rem; //100%
  position: relative;
  right: 2rem;
  margin-top: 0.75rem;
}
.main-div-col-1-sub-min-text {
  width: 100%;
  min-height: 9.875rem !important;
}
.main-div-col-2-sub-min {
  position: relative;
  width: 12.5rem; //100%
  height: 10.625rem; //90%
  background-color: c.color(white);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
}

.main-todo-note-minutes {
  font-family: "Roboto", sans-serif !important;
  font-size: small !important;
  color: #686868;
}

.main-todo-input-time {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  color: #686868;
}

.FiTrash2 {
  padding-right: 0.7rem;
}

@media only screen and (max-width: 720px) {
  .Announcement-sub-2 {
 overflow-y: scroll !important; 
  max-height: 20rem !important;
}
  .main-div-col-2{
    transform: scale(0.9) !important;
  }
  
  .main-div-col-2-sub{
    transform: scale(0.9) !important;
  }
  
  .Announcement-sub-text {
    margin-right: 1rem;
    transform: scale(0.9) !important;
  }

  .main-div-col-2-sub-min {
    display: none !important;
    transform: scale(0.9) !important;
  }
  .main-div-col-1-sub {
    display: block;
    transform: scale(0.9) !important;
  }
  .main-div-col-1-sub-min {
    width: 100%;
    transform: scale(0.9) !important;
  }
  .Announcement-sub-1 {
    overflow-x: scroll !important;
    white-space: nowrap !important;
    transform: scale(0.9) !important;
  }
}

 
@media only screen and (max-width: 1200px) {
   .Announcement-sub-2 {
  overflow-y: scroll !important; 
   max-height: 300px   !important;
 }
  .main-div{
    padding: 0px !important;
  }
  .main-sub-img {
    right: 0px !important;
  }
  .main-div-col-2 {
    margin-top: 1rem;
  }
   .main-div-col-2-sub{
    margin-top: 2rem;
     height: 70%;
   }
  .main-min-text {
    overflow-y: scroll !important;
  }
  .main-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    // padding: 1rem 0 0 1rem;
  }
  .main-div-col-1 {
    width: 100%;

    height: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .Announcement-sub-2  {
 overflow-y: scroll !important; 
  max-height: 400px !important ;
}
  .main-min-text {
    overflow-y: scroll !important;
  }
}
@media only screen and (max-width: 1600px) {
  .Announcement-sub-2  {
 overflow-y: scroll ; 
  max-height: 28rem ;
}
   
}

// DashboardCalender

.DashboardCalender-top-btn {
  width: 100%;
  background-color: c.color(white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.Calender-top-btn-sup {
  display: flex;
}

.Create-event-Calender {
  width: 90%;
  height: 2rem;
  font-weight: bold !important;
  border-radius: 4px !important;
  font-size: 1.4rem;
  background-color: c.color(primary-color) !important;
  color: c.color(white) !important;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: sans-serif;
  border: 4px solid #e6e6e6;
  position: relative;
}

.calendar a {
  color: grey;
}

.cell {
  background: #fffeee;
  width: 14.2857%;
  height: 90px;
  font-size: 0.7em;
  box-shadow: 0 0px 1px #393939;
}

.cell .date {
  margin: 4px;
}

.current {
  background: #d3edd3;
}

.current .date {
  font-weight: bold;
}

.otherMonth {
  background: #f7f7f7;
}

.otherMonth .date {
  color: #bfbfbf;
}

.addEventOnDay {
  display: inline-block;
  color: #4f4f4f;
  text-decoration: none;
  margin-left: 4px;
  background: #e1e1e1;
  padding: 0 6px;
  border-radius: 3px;
}

.miniEvent {
  background: #1f86ef;
  color: white;
  padding: 3px;
  font-size: 1em;
  cursor: pointer;
}

.miniEvent.holiday {
  background: #3fb73f;
}

.miniEvent.busy {
  background: #e7713c;
}

.navigation {
  width: 100%;
  padding: 10px 8px 14px 8px;
  border-bottom: 3px solid #b3b3b3;
}

.navigation div {
  display: inline-block;
  width: 33.33%;
}

.navigation .monthAndYear {
  text-align: center;
  font-weight: bold;
}

.navigation .monthAndYear a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  background: #27bc27;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  text-shadow: 0 0px 2px #727272;
}

.navigation .back,
.navigation .forward {
  cursor: pointer;
  font-size: 0.7em;
  color: grey;
}

.navigation .back {
  text-align: left;
}

.navigation .forward {
  text-align: right;
}

.dayLabel {
  font-weight: bold;
  text-align: center;
  height: auto;
  padding: 10px 0;
  background: #e9e9e9;
  border-bottom: 3px solid #cacaca;
}

.addEvent {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  width: 100%;
  background: #3fb73f;
  border-bottom: 2px solid green;
  color: white;
  padding: 10px;
}

.form input,
.form select {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 6px 0 10px 0;
  border: 3px solid #cacaca;
  border-radius: 4px;
  background: #f9f9f9;
}

.form select {
  width: 100%;
}

.form label {
  font-weight: bold;
  text-align: left;
  font-size: 0.8em;
  display: block;
}

.button-green {
  width: 100%;
  background: #3fb73f;
  border: 0;
  border-bottom: 3px solid green;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-red {
  background: #c82727;
  border: 0;
  border-bottom: 3px solid #a51616;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.377);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-calender {
  background: white;
  position: relative;
  width: 100%;
  text-align: center;
  //  left: 25%;
  //  top: 5%;
  //  margin: auto !important;
  border-radius: 5px;
}

.modal-calender .inner {
  padding: 20px 30px 30px 30px;
}

.modal-calender h3 {
  margin: 0;
  background: #e6e6e6;
  padding: 12px;
  border-radius: 5px;
}

.modal-calender p {
  font-size: 0.8em;
  line-height: 1.5em;
}

.modal-calender .close {
  margin-top: 22px;
  font-size: 0.7em;
  display: block;
}

.eventModal p {
  margin-bottom: 24px;
}

.eventModal p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.eventModal .delete {
  display: block;
  background: #df3317;
  border-bottom: 2pxsolid #a90c0c;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 3px;
  margin-bottom: 6px;
}

.eventModal .button-red {
  margin-top: 8px;
}

.feedback {
  position: absolute;
  width: 90%;
  padding: 16px 0;
  left: 5%;
  text-align: center;
  bottom: 5%;
  background: #3fb73f;
  border-bottom: 3px solid green;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.loader {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -38px;
}

/* animated loading spinner from https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Drawer css */

[aria-hidden="true"] {
  visibility: visible;
}

.Drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  will-change: transform, visibility;
  transition: transform 0.3s linear;
  background-color: #f5f5f5;
}
.Drawer1 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 80vh;
  transform: translate(100%, 0);
  will-change: transform, visibility;
  transition: transform 0.3s linear;
  background-color: #f5f5f5;
}
// .DrawerClose2 {
//   position: fixed;
//   top: 0;
//   right: 0;
//   z-index: 1;
//   width: 50%;
//   height: 100vh;
//   transform: translate(100%, 0);
//   will-change: transform, visibility;
//    transition: transform 0.3s linear;
//   background-color: #f5f5f5;

// }

// .Drawer2 {
//   position: fixed;
//   top: 0;
//   right: 0;
//   z-index: 1;
//   width: 100%;
//   height: 100vh;
//   will-change: transform, visibility;
//    transition: transform 0.3s linear;
// background-color: rgba(0, 0, 0, 0.7);
//  display: flex;
//  justify-content: flex-end;
// }

.Drawactive {
  // display: flex;
  // justify-content: center;
  // margin: auto;
  // margin-top: 5rem;
  width: 100%;
  height: 100vh;
  // background-color:#fff;
}

.Drawer[aria-hidden="true"] {
  transform: translate(0, 0);
  transition: transform 0.3s linear;
}

.Drawer[aria-hidden="true"] {
  transition: visibility 0s linear 0.3s, transform 0.3s linear;
}
.Drawer-main {
  margin: 6%;
  margin-right: 2%;
  margin-left: 2%;
}

.AdminDashboard-first-3-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}
.AdminDashboard-first-3-card-color-1 {
  width: 100%;
  height: 140px;
  background-color: #ffefe7;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  transition: transform 0.25s !important;
}

.AdminDashboard-first-3-card-color-1:hover {
  transform: scale(1.05);
}

.AdminDashboard-first-3-card-color-2 {
  width: 100%;
  height: 140px;
  background-color: #e8f0fb;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  transition: transform 0.25s !important;
}

.AdminDashboard-first-3-card-color-2:hover {
  transform: scale(1.05);
}
.AdminDashboard-first-3-card-color-3 {
  width: 100%;
  height: 140px;
  background-color: #fdebf9;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  transition: transform 0.25s !important;
}
.AdminDashboard-first-3-card-color-3:hover {
  transform: scale(1.05);
}

.AdminDashboard-first-h5 {
  font-weight: bold;
}
.AdminDashboard-first-h3 {
  font-weight: bold !important;
}
.AdminDashboard-first-p {
  color: #ff5151;
}
.AdminDashboard-second-h5 {
  font-weight: bold;
}
.AdminDashboard-second-h3 {
  font-weight: bold !important;
}
.AdminDashboard-second-p {
  color: #3786f1;
}
.AdminDashboard-third-h5 {
  font-weight: bold;
}
.AdminDashboard-third-h3 {
  font-weight: bold !important;
}
.AdminDashboard-third-p {
  color: #ee61cf;
}

.Average-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  column-gap: 2rem;
}

.Average-container-card {
  width: 100%;
  background-color: c.color(white-100) !important;
  height: 220px;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  padding: 1.5rem;
}

.Average-container-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Average-container-card-children {
  font-weight: bold;
  font-size: 60px;
}
.Average-container-card-headings {
  font-weight: bold;
}

.Average-container-card-view {
  width: 100%;
  height: 120px;
}

.Average-container-card-month {
  display: flex;
  justify-content: center;
}

.Average-container-card-month-span {
  background-color: #ffefe7;
  color: #303030;
  padding: 1px 5px;
  border-radius: 5px;
  font-weight: 200;
}

.graph-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Avg-data {
  font-size: small;
  font-weight: 500;
}

.AdminDashboard-first-3-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}
.AdminDashboard-first-3-card-color-1 {
  width: 100%;
  height: 140px;
  background-color: #ffefe7;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  transition: transform 0.25s !important;
}

.AdminDashboard-first-3-card-color-1:hover {
  transform: scale(1.05);
}

.AdminDashboard-first-3-card-color-2 {
  width: 100%;
  height: 140px;
  background-color: #e8f0fb;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  transition: transform 0.25s !important;
}

.AdminDashboard-first-3-card-color-2:hover {
  transform: scale(1.05);
}
.AdminDashboard-first-3-card-color-3 {
  width: 100%;
  height: 140px;
  background-color: #fdebf9;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  transition: transform 0.25s !important;
}
.AdminDashboard-first-3-card-color-3:hover {
  transform: scale(1.05);
}

.AdminDashboard-first-h5 {
  font-weight: bold;
}
.AdminDashboard-first-h3 {
  font-weight: bold !important;
}
.AdminDashboard-first-p {
  color: #ff5151;
}
.AdminDashboard-second-h5 {
  font-weight: bold;
}
.AdminDashboard-second-h3 {
  font-weight: bold !important;
}
.AdminDashboard-second-p {
  color: #3786f1;
}
.AdminDashboard-third-h5 {
  font-weight: bold;
}
.AdminDashboard-third-h3 {
  font-weight: bold !important;
}
.AdminDashboard-third-p {
  color: #ee61cf;
}

.Average-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  column-gap: 2rem;
}

.Average-container-card {
  width: 100%;
  background-color: c.color(white-100) !important;
  height: 220px;
  border-radius: 10px;
  box-shadow: c.$box-shadow;
  padding: 1.5rem;
}

.Average-container-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Average-container-card-sup {
  // margin: 2rem;
}

.Average-container-card-children {
  font-weight: bold;
  font-size: 60px;
}
.Average-container-card-headings {
  font-weight: bold;
}

.Average-container-card-view {
  width: 100%;
  height: 120px;
}

.Average-container-card-month {
  display: flex;
  justify-content: center;
}

.Average-container-card-month-span {
  background-color: #ffefe7;
  color: #303030;
  padding: 1px 5px;
  border-radius: 5px;
  font-weight: 200;
}

.graph-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  image-rendering: auto;
}

.Avg-data {
  font-size: small;
  font-weight: 500;
}
