<<<<<<< HEAD
.container {
  display: flex;
}
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-todo-input {
  width: 1rem;
  height: 1rem;
  background-color: #1a1a1a;
}

.main-todo-input {
  padding-right: 1rem;
}
.main-todo-Event {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 4rem;
  width: 100%;
  padding: 0.3;
  background-color: #f6f6f6;
  border: 2px solid #e3e3e3 !important;
  margin-bottom: 1rem;
}

.main-todo-title {
  margin-bottom: 1rem;
}

.main-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-todo-1 {
  width: 100%;
  height: 90%;

  // background-color: #990000;
}
.main-todo-2 {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 10%;
}

.show-btn {
  height: 1rem !important;
  font-weight: bold !important;
  border: 2px solid #990000 !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #990000 !important;
  font-weight: bold !important;
}
.Add-btn {
  height: 1rem !important;
  font-weight: bold !important;
  background-color: #990000 !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #fff !important;
  .MuiButton-label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
  }
}

.OpenInFull {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  margin: 2px !important;
}
.event-time {
  color: #990000;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  align-items: center;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 10px;
}
.event-days {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 36px;
  line-height: 20px;
  margin-bottom: 10px;
  font-feature-settings: "salt" on, "liga" off;
}
.event-months {
  font-weight: bold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px !important;
}
.main-min-text {
  margin-top: 2.5rem;
  padding-left: 5px;
  box-sizing: border-box !important;
  flex-wrap: wrap;

  height: 70%;

  &-header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

.main-min-text2 {
  padding-top: 10px;
  flex-wrap: wrap;
  width: 90%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.main-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 0 0 1rem;
}

.main-div-col-1 {
  width: 96%;

  height: 100%;
}
.main-div-col-2 {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  width: 100%;
  height: 98%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.main-div-col-1-sub {
  width: 100%;
  height: 28%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}



.main-div-col-2-sub {
  width: 100%;
  height: 70%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  padding: 1.2rem;
}

.main-div-col-1-sub-min {
  width: 97%; //97%
  height: 10.625rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-template-columns: 1.2fr 2fr;
}

.main-div-col-1-sub-min-img {
  width: 100%;
  height: 100%;
}

.main-div-col-2-sub {
  display: flex;
  flex-direction: column;
}
.Announcement-sub-1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Announcement-container {
  overflow: auto;
}

.BsFillPinAngleFill {
  margin-right: 1rem;
}
.main-todo-note {
  margin-left: 0.8rem;
}

.Announcement-sub-text {
  display: flex !important;
  align-items: center !important;
}

.sub-text-contained {
  margin-right: 4rem !important;
}
.Announcement-sub-2 {
  width: 100%;
  // height: 80%;
}

.main-sub-img {
  object-fit: fill;
  width: 12.625rem; //230px
  height: 9.875rem; //100%
  position: relative;
  right: 2rem;
  margin-top: 0.75rem;
}
.main-div-col-1-sub-min-text {
  width: 100%;
  min-height: 9.875rem !important;
}
.main-div-col-2-sub-min {
  position: relative;
  width: 12.5rem; //100%
  height: 10.625rem; //90%
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
}

.Create-event {
  width: 90%;
  height: 3.5rem;
  font-weight: bold !important;
  border-radius: 4px !important;
  font-size: 1.4rem;
  background-color: #990000 !important;
  color: #fff !important;
  margin-top: 1rem !important;
}

.FiTrash2 {
  padding-right: 0.7rem;
}

@media only screen and (max-width: 720px) {
  .Announcement-sub-text {
    margin-right: 1rem;
  }

  .main-div-col-2-sub-min {
    display: none !important;
  }
  .main-div-col-1-sub {
    display: block;
  }
  .main-div-col-1-sub-min {
    width: 100%;
  }
  .Announcement-sub-1 {
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }
}

@media only screen and (max-width: 1200px) {
  .main-min-text {
    overflow-y: scroll !important;
  }
  .main-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0 0 1rem;
  }
  .main-div-col-1 {
    width: 100%;

    height: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .main-min-text {
    overflow-y: scroll !important;
  }
}
=======
.container {
  display: flex;
}
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-todo-input {
  width: 1rem;
  height: 1rem;
  background-color: #1a1a1a;
}

.main-todo-input {
  padding-right: 1rem;
}
.main-todo-Event {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 4rem;
  width: 100%;
  padding: 0.3;
  background-color: #f6f6f6;
  border: 2px solid #e3e3e3 !important;
  margin-bottom: 1rem;
}

.main-todo-title {
  margin-bottom: 1rem;
}

.main-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-todo-1 {
  width: 100%;
  height: 90%;

  // background-color: #990000;
}
.main-todo-2 {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 10%;
}

.show-btn {
  height: 1rem !important;
  font-weight: bold !important;
  border: 2px solid #990000 !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #990000 !important;
  font-weight: bold !important;
}
.Add-btn {
  height: 1rem !important;
  font-weight: bold !important;
  background-color: #990000 !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #fff !important;
  .MuiButton-label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
  }
}

.OpenInFull {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  margin: 2px !important;
}
.event-time {
  color: #990000;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  align-items: center;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 10px;
}
.event-days {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 36px;
  line-height: 20px;
  margin-bottom: 10px;
  font-feature-settings: "salt" on, "liga" off;
}
.event-months {
  font-weight: bold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px !important;
}
.main-min-text {
  margin-top: 2.5rem;
  padding-left: 5px;
  box-sizing: border-box !important;
  flex-wrap: wrap;

  height: 70%;

  &-header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

.main-min-text2 {
  padding-top: 10px;
  flex-wrap: wrap;
  width: 90%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.main-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 0 0 1rem;
}

.main-div-col-1 {
  width: 96%;

  height: 100%;
}
.main-div-col-2 {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  width: 100%;
  height: 98%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.main-div-col-1-sub {
  width: 100%;
  height: 28%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.main-div-col-2-sub {
  width: 100%;
  height: 70%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  padding: 1.2rem;
}

.main-div-col-1-sub-min {
  width: 97%; //97%
  height: 10.625rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-template-columns: 1.2fr 2fr;
}

.main-div-col-1-sub-min-img {
  width: 100%;
  height: 100%;
}

.main-div-col-2-sub {
  display: flex;
  flex-direction: column;
}
.Announcement-sub-1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Announcement-container {
  overflow: auto;
}

.BsFillPinAngleFill {
  margin-right: 1rem;
}
.main-todo-note {
  margin-left: 0.8rem;
}

.Announcement-sub-text {
  display: flex !important;
  align-items: center !important;
}

.sub-text-contained {
  margin-right: 4rem !important;
}
.Announcement-sub-2 {
  width: 100%;
  // height: 80%;
}

.main-sub-img {
  object-fit: fill;
  width: 12.625rem; //230px
  height: 9.875rem; //100%
  position: relative;
  right: 2rem;
  margin-top: 0.75rem;
}
.main-div-col-1-sub-min-text {
  width: 100%;
  min-height: 9.875rem !important;
}
.main-div-col-2-sub-min {
  position: relative;
  width: 12.5rem; //100%
  height: 10.625rem; //90%
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
}

.Create-event {
  width: 90%;
  height: 3.5rem;
  font-weight: bold !important;
  border-radius: 4px !important;
  font-size: 1.4rem;
  background-color: #990000 !important;
  color: #fff !important;
  margin-top: 1rem !important;
}

.FiTrash2 {
  padding-right: 0.7rem;
}

@media only screen and (max-width: 720px) {
  .Announcement-sub-text {
    margin-right: 1rem;
  }

  .main-div-col-2-sub-min {
    display: none !important;
  }
  .main-div-col-1-sub {
    display: block;
  }
  .main-div-col-1-sub-min {
    width: 100%;
  }
  .Announcement-sub-1 {
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }
}

@media only screen and (max-width: 1200px) {
  .main-min-text {
    overflow-y: scroll !important;
  }
  .main-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0 0 1rem;
  }
  .main-div-col-1 {
    width: 100%;

    height: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .main-min-text {
    overflow-y: scroll !important;
  }
}
>>>>>>> 679f43b (new)
