@use "../abstracts/colors" as c;

.kpi-top-container {
  width: 100%;
  min-height: 20% !important;
  // background-color: bisque;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.grading-system-contain {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.kpi-top-container-card-1 {
  padding-right: 2rem !important;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.kpi-top-container-card-2 {
  width: 100%;
  height: 100%;
}

.grading-system {
  background-color: c.color(white);
  border-radius: 4px;
  box-shadow: 0 0 1px c.color(border);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  box-shadow: c.$box-card-shadow;

  &-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

.grading-system p:nth-child(odd) {
  color: c.color(grey);
  font-size: medium;
  font-weight: 700;
  text-align: center;
  border-right: 1px solid c.color(border);
}
.grading-system p {
  border-top: 1px solid c.color(border);
  padding: 10px;
  margin: 0;
}
.grading-system p:first-child {
  border-top: none !important;
}
.grading-system-second-child {
  border-top: none !important;
}

.kpi-top-card-1 {
  width: 100%;
  height: 55px;
  background-color: c.color(primary-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: c.color(white);
  font-weight: bold;
  margin-bottom: 30px;
  box-shadow: c.$box-card-shadow;
}
.kpi-top-card-1-sub {
  background-color: c.color(white);
  width: 100%;
  flex-grow: 1;
  display: grid;
  border-radius: 4px;
  grid-template-columns: 2fr 4fr;
  box-shadow: c.$box-card-shadow;
}

.kpi-top-card-1-sub p:nth-child(odd) {
  color: c.color(grey-100);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  border-right: 1px solid #ededed;
  padding-left: 2rem !important;
}
.kpi-top-card-1-sub p {
  border-top: 1px solid #ededed;
  padding: 20px;
  margin: 0;
}
.kpi-top-card-1-sub p:first-child {
  border-top: none !important;
}
.kpi-top-card-1-sub-second-child {
  border-top: none !important;
}

.kpi-top-container-card-3 {
  width: 100%;
  margin-top: 2rem;
}

.performance-field {
  padding: 0px 30px;
  margin-bottom: 0 !important;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 2px #e8e8e8;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.table-datacell-color {
  background-color: c.color(primary-opacity-color) !important;
  border-radius: 0px !important;
}
.table-datacell-color2 {
  background-color: c.color(primary-color) !important;
  border-radius: 0px !important;
  color: c.color(white-100) !important;
}

.table-datacell-button-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.table-datacell-button-bottom-color1 {
  font-size: larger;
  font-weight: bold;
  background-color: c.color(primary-color) !important;
  color: c.color(white-100) !important;
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
}
.table-datacell-button-bottom-color2 {
  font-size: larger;
  font-weight: bold;
  // background-color: c.color(primary-color) !important;
  padding: 1rem 3rem;
  border: 2px solid c.color(primary-color);
  border-radius: 0px 10px 10px 0px;
}

.emp-reconmentdetion {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.emp-reconmentdetion-sub {
  width: 50%;
  height: 400px;
}

.emp-reconmentdetion-sub-space {
  width: 1rem;
}

.reconmentdetion-sub-title {
  width: 100%;
  height: 70px;
  background-color: c.color(primary-color);
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: c.color(white-100) !important;
}
