#leave-status-btn{
	padding: 3px 3rem;
	color: #2E8107;
	border: 2px solid #2E8107;
	border-radius: 8px !important;
	margin: 10px 0px;
		font-weight: bold;
}
#leave-status-btn-error{
	padding: 3px 2rem;
		color: #AC1B1B;
	border: 2px solid #AC1B1B;
	border-radius: 8px !important;
	// margin: 10px 0px;
	font-weight: bold;
}
 