.SiteWorkermaindiv{
	display: flex;
	justify-content: space-between !important;
 align-items: center;
 
}

.SiteWorkermaindivsub{
	display: flex !important;  
	align-items: center !important;
	font-size: 1.5rem;
	font-weight: bold;

}





@media only screen and (max-width: 1220px) { 

.SiteWorkermaindiv{
	display: flex;
	justify-content: space-between !important;
	overflow-x: scroll;
}

}