 

// components
@use "./components/header.scss";
@use "./components/sidebar.scss";
@use "./components/tableoptions";
@use "./components/input-field";
@use "./components/tablecomponent";
@use "./components/button";
@use "./components/pagination";
@use "./components/modals";
@use "./css/bootstrap.css";
@use "./components/weeklyreport";
@use "./components/todoshowall";
@use "./components/mobileSideBar";

// pages
@use "./pages/kpiassessment";
@use "./pages/policy";
// @use "./pages/departments";
@use "./pages/dashboard.scss";
@use "./pages/allemployees";
@use "./pages/support";
@use "./pages/siteworkerrequest";
@use "./pages/leave";
@use "./pages/login.scss";
@use "./pages/projectview";
@use "./pages/viewprojects";
@use "./pages/createemployee";
@use "./pages/profile";
@use "./pages/editUser"; 

@use "./abstracts/colors" as c;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(64, 61, 59);
  display: none;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(64, 61, 59, 0.8);
  display: none;
}

body {
  font-family: "Poppins", sans-serif !important;
  background: #f6f6f6;
  margin: 0;
  letter-spacing: normal;
  box-sizing: border-box !important;
  // --box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
  //   0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
}

td {
  white-space: nowrap !important;
}

Button {
  white-space: nowrap !important;
}

textarea {
  width: 100%;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}
input {
  width: 100%;
  padding: 0.9rem;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #495057 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

#screen-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: max-content 3fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header header"
    "sidenav main";
}

main {
  grid-area: main;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.View-btn {
  background-color: #bf8412 !important;
  color: #fff !important;
  padding: 5px 25px !important;
  font-weight: bold !important;
}

#white-btn-color {
  color: #fff !important;
}

#Add-btn-sub {
  width: 3.2rem !important;
}
.icon-space {
  margin-right: 0.4rem;
}

.leave-status-bt {
  // background-color: #fff !important;
  border: 1px solid c.color(primary-color);
}

.icon-bold {
  font-weight: bold;
}

.table-loader {
  color: #cacaca !important;
  text-align: center !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.table-loader p {
  color: #7a7a7a;
}

.pageEntries {
  font-weight: bold;
  color: c.color(primary-color);
}

.back-btn-icon {
  // height: 1rem !important;
  font-weight: bold !important;
  background-color: c.color(primary-color) !important;
  // padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #fff !important;
}

#team-applicatiom-update {
  background-color: c.color(project-view-btn);
  color: c.color(white);
  padding: 0.1rem 1rem;
  font-weight: bold;
}

.modal-input-sub-space {
  margin-top: 1rem;
}

// custom search for all leave application
#form-inline {
  display: flex !important;
  flex-flow: row wrap !important;
  align-items: center !important;
  box-shadow: none !important;
  white-space: nowrap !important;
}

#search-input {
  padding: 0.7rem;
  width: 200px !important;
  border: 0px !important;
  background-color: c.color(search-color);
}

.search-btn {
  background-color: c.color(primary-color) !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  color: c.color(white) !important;
  padding: 0.7rem 1rem;
  border: 0px !important;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

button.ccsnl-btn {
  background-color: c.color(grey);
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 1.5rem;
  border: 2px solid c.color(grey);
  transition: 0.25s;
}
button.ccsnl-btn:hover {
  background-color: transparent;
  color: c.color(grey);
}

form input,
form select {
  background-color: rgba(0, 0, 0, 0.025);
  width: 100%;
}
form input:focus,
form select:focus {
  background-color: var(--clr-white);
}

form select {
  // margin-bottom: 1vh;
  // height: 45px;
  // background-color: #fff;
  // border-radius: 3px;
  // border: 1px solid #e8e8e8;
  // box-shadow: 0 0 2px #e8e8e8;
  padding: 0.9rem;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}
form input:focus,
form select:focus {
  border: 2px solid c.color(primary-color) !important;
  // box-shadow: 0 0 2px c.color(primary-color);
}
.form-control {
  box-shadow: none !important;
}

::placeholder {  
  color: gray;
  opacity: 0.6; 
}
//  form .form_btn {
//   grid-column: 1 / span 2;
//   display: flex;
//   justify-content: flex-end;
// }

// input:hover, select:hover, textarea:hover {
// 			border: 1px solid c.color(primary-color) !important;
// }
// input:focus, select:focus, textarea:focus {
// 			border: 2px solid c.color(primary-color) !important;
// }

// input[type="date"]::-webkit-inner-spin-button {
// display: none !important;
// }
input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
}

#Essential-btn {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 3rem !important;
  align-items: flex-end;
}
// .item i, input[type="date"]::-webkit-calendar-picker-indicator {
//     position: absolute;
//     font-size: 20px;
//     color: #a9a9a9;
//     }

// [type="date"]::-webkit-calendar-picker-indicator {
// right: 0;
// z-index: 2;
// opacity: 0;
// cursor: pointer;
// }

// .selectdiv {
//   position: relative;
//   /*Don't really need this just for demo styling*/
//   float: left;
//    width: 100%;
//   margin: 50px 33%;
// }

// .selectdiv:after {
//     content: '\f078';
//     font: normal normal normal 17px/1 FontAwesome;
//     // color: #0ebeff;
//     right: 11px;
//     top: 6px;
//     height: 34px;
//     padding: 15px 0px 0px 8px;
//     border-left: 1px solid #0ebeff;
//     position: absolute;
//     pointer-events: none;
//     width: 100%;
// }

// /* IE11 hide native button (thanks Matt!) */
// select::-ms-expand {
// display: none;
//  width: 100% !important;
// }

// .selectdiv select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   /* Add some styling */

//   display: block;
//   width: 100% !important;
//   // max-width: 320px;
//   height: 50px;
//   float: right;
//   margin: 5px 0px;
//   padding: 0px 24px;
//   font-size: 16px;
//   line-height: 1.75;
//   color: #333;
//   background-color: #ffffff;
//   background-image: none;
//   border: 1px solid #0ebeff;
//   -ms-word-break: normal;
//   word-break: normal;
// }

.search-form-ctrl {
  position: relative;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
form.searchbox {
  width: 20rem;
}


form input[type="search"] {
  background:  c.color(search-color) !important;
  padding: 8px 15px;
  color: #4b4b4b;
  font-size: 0.9rem;
  width: 100%;
  outline: none;
  border: 0;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 1px #e8e8e8;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
form input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 1px c.color(border);
  border: 1px solid c.color(border);
}
form input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 5px;
  background-color: c.color(primary-color);
}
form.searchbox button {
  background-color: c.color(primary-color);
  position: absolute;
  top: 9px;
  right: 9px;
  color: #ffff;
  padding: 0 5px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
form.searchbox button i {
  font-size: 0.8rem;
}
form.searchbox button:hover {
  background-color: #c74b2c;
}

   .btn-primary{
background-color: c.color(primary-color) !important;
 }
 
 .css-13cymwt-control{
  border: 2px solid #b2b2b2 !important;
 } 
 
//  .css-13cymwt-control :active{
//   border: 2px solid red !important;
//  } 
 
 .ChatProgressView-header{
    width: 100% !important;
    height: 3.5rem !important;
    background-color: #fff !important;
    display: flex;
   justify-content: space-between;
   padding: 0rem  1rem;
   align-items: center;
   margin-bottom: 1.5rem;
  }

  .ChatProgressView-close{
    background-color:  c.color(primary-color) !important;
    /* border: 1px solid #005b90!important;; */
    border-radius: 3px;
    height: 20px;
    padding: 16px 4px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size:30px; */
    
  }
 
 

  .ChatProgressView-close-icon {
    color: #fff !important;
  }
  .ChatProgressView-close-icon:hover{
    color: rgba(255, 0, 0, 0.778) !important;
    
  }

  .elevation-0 {
  z-index: 0;
  transition: box-shadow 2s;
}
.elevation--border {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.elevation-24 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  z-index: 24;
  transition: box-shadow 2s ease-out;
}
.elevation-23 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  z-index: 23;
  transition: box-shadow 2s ease-out;
}
.elevation-22 {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  z-index: 22;
  transition: box-shadow 2s ease-out;
}
.elevation-21 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  z-index: 21;
  transition: box-shadow 2s ease-out;
}
.elevation-20 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  z-index: 20;
  transition: box-shadow 2s ease-out;
}
.elevation-19 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  z-index: 19;
  transition: box-shadow 2s ease-out;
}
.elevation-18 {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  z-index: 18;
  transition: box-shadow 2s ease-out;
}
.elevation-17 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  z-index: 17;
  transition: box-shadow 2s ease-out;
}
.elevation-16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  z-index: 16;
  transition: box-shadow 2s ease-out;
}
.elevation-15 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  z-index: 15;
  transition: box-shadow 2s ease-out;
}
.elevation-14 {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  z-index: 14;
  transition: box-shadow 2s ease-out;
}
.elevation-13 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  z-index: 13;
  transition: box-shadow 2s ease-out;
}
.elevation-12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  z-index: 12;
  transition: box-shadow 2s ease-out;
}
.elevation-11 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  z-index: 11;
  transition: box-shadow 2s ease-out;
}
.elevation-10 {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  z-index: 10;
  transition: box-shadow 2s ease-out;
}
.elevation-9 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  z-index: 9;
  transition: box-shadow 2s ease-out;
}
.elevation-8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 8;
  transition: box-shadow 2s ease-out;
}
.elevation-7 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  z-index: 7;
  transition: box-shadow 2s ease-out;
}
.elevation-6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  z-index: 6;
  transition: box-shadow 2s ease-out;
}
.elevation-5 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  z-index: 5;
  transition: box-shadow 2s ease-out;
}
.elevation-4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 4;
  transition: box-shadow 2s ease-out;
}
.elevation-3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  z-index: 3;
  transition: box-shadow 2s ease-out;
}
.elevation-2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  transition: box-shadow 2s ease-out;
}
.elevation-1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
  transition: box-shadow 2s ease-out;
}
.skeleton *:empty {
  background: #f6f7f8;
  background-position: -500px 0;
  -webkit-animation: skeletonShine 1s linear 0s infinite normal forwards;
          animation: skeletonShine 1s linear 0s infinite normal forwards;
  background-image: linear-gradient(135deg, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
}
.skeleton__section + .skeleton__section {
  margin-top: 16px;
}
.skeleton__section--actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}
.skeleton__section--card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 24px;
}
.skeleton__section--calendar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}
.skeleton__header {
  margin-bottom: 6px;
  height: 32px;
  width: 200px;
  max-width: 35%;
}
.skeleton__header--long {
  width: 300px;
  max-width: 85%;
}
.skeleton__hr {
  height: 2px;
  width: 100%;
  margin-bottom: 16px;
}
.skeleton__p {
  height: 16px;
  width: 100%;
  margin-bottom: 8px;
}
.skeleton__p:last-child {
  width: 45%;
}
.skeleton__p--short {
  max-width: 120px;
}
.skeleton__button {
  height: 24px;
  width: 56px;
  margin-bottom: 8px;
}
.skeleton__button:nth-child(2n) {
  width: 72px;
}
.skeleton__button:nth-child(3n+1) {
  width: 48px;
}
.skeleton__input {
  height: 32px;
  width: 100%;
  margin-bottom: 8px;
}
.skeleton__input--half {
  width: 50%;
}
.skeleton__tr {
  display: flex;
  gap: 12px;
}
.skeleton__tr:first-child .skeleton__td {
  height: 24px;
  margin-bottom: 12px;
}
.skeleton__td {
  flex: 1 1 100%;
  height: 16px;
  margin: 4px 0;
}
.skeleton__td:nth-child(2) {
  flex-basis: 500%;
}
.skeleton__td:nth-child(3) {
  flex-basis: 300%;
}
.skeleton__td:nth-child(4) {
  flex-basis: 900%;
}
.skeleton__td:nth-child(5) {
  flex-basis: 700%;
}
.skeleton__img {
  height: 64px;
  width: 64px;
  border-radius: 8px;
}
.skeleton__icon {
  height: 24px;
  width: 24px;
  border-radius: 4px;
}
.skeleton__block {
  height: 56px;
  width: 100%;
  margin-bottom: 12px;
}
.skeleton__block--empty {
  background: none !important;
}
.skeleton__block--xs {
  height: 12px;
}
.skeleton__block--s {
  height: 24px;
}
.skeleton__block--l {
  height: 92px;
}
.skeleton__block--xl {
  height: 128px;
}
.skeleton__group {
  height: 24px;
  width: 200px;
  max-width: 35%;
  margin-top: 16px;
  margin-bottom: 12px;
}
.skeleton__tree {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}
.skeleton__tree * {
  margin: 0;
}
.skeleton__tree .skeleton__p {
  width: 100%;
  max-width: none;
}
.skeleton__tree--0 {
  padding-left: 0;
}
.skeleton__tree--1 {
  padding-left: 16px;
}
.skeleton__tree--2 {
  padding-left: 24px;
}
@-webkit-keyframes skeletonShine {
  to {
    background-position: 500px 0;
  }
}
@keyframes skeletonShine {
  to {
    background-position: 500px 0;
  }
}

