@charset "UTF-8";
#header {
  grid-area: header;
  background-color: #ffffff;
  padding: 20px 35px 20px 20px;
  border-bottom: 1px solid #e8e8e8 !important;
}

:root {
  --clr-white: #fff;
  --blue: #005b90;
  --clr-orange: #f04000;
  --outline: 1px solid red;
}
 

.header-user-details {
  color: #5c5c5c;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

 
.dropdown-names {
  color: #1a1a1a;
  margin-left: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

 
.dropdown-icons-tools {
  margin-right: 1rem;
}

/* --- Dropdown --- */
#header .dropdown {
  background-color: #ffffff;
  position: absolute;
  top: 61px;
  width: 180px;
  font-size: 0.9rem;
  transform: translateX(-20%);
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  text-transform: capitalize;
  -webkit-animation-name: dropdown;
  animation-name: dropdown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05),
    4px 4px 4px rgba(0, 0, 0, 0.05), -1px -1px 1px rgba(0, 0, 0, 0.05),
    -2px -2px 2px rgba(0, 0, 0, 0.05), -4px -4px 4px rgba(0, 0, 0, 0.05);
  transition: 0.5s ease-in-out;
}

@-webkit-keyframes dropdown {
  from {
    top: 84px;
    opacity: 0.5;
  }
  to {
    top: 61px;
    opacity: 1;
  }
}

@keyframes dropdown {
  from {
    top: 84px;
    opacity: 0.5;
  }
  to {
    top: 61px;
    opacity: 1;
  }
}
#header .dropdown a {
  color: #1a1a1a;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 10px;
  padding-left: 20px;
}

#header .dropdown i {
  font-size: medium;
  margin-right: 15px;
}

#header .dropdown a:hover {
  color: #fff;
  background-color: #990000;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}

#header .dropdown a:hover i {
  color: #fff;
}

#header .dropdown .drop-logout {
  border-top: 1px solid #e6e6e6;
}

.preview-header {
  display: block;
  box-shadow: 0px 0px 0px 1px #007aff;
  border-radius: 50%;
  overflow: hidden;
  background: none;
}

.img-container-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.header-logo {
  display: block !important;
  margin-left: 100px !important;
  margin-right: 100px !important;
  display: flex !important;
  justify-content: flex-end !important;
  width: 30px !important;
  height: 30px !important;
  image-rendering: auto;
}

.header-logo-text {
  margin-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.header-logo-text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

@media screen and (max-width: 1000px) {
  .header-logo img {
    display: none !important;
  }
}
/* #open-sidenavbar {
  grid-area: sidenav;
  padding: 0 18px;
  padding-top: 23px;
  background: #fff;
  transition: padding 0.3s linear;
  color: #1a1a1a !important;
  border-right: 1px solid #e8e8e8 !important;
}

#collapse-sidenavbar {
  grid-area: sidenav;
  padding: 0 10px;
  padding-top: 23px;
  background: #fff;
  transition: padding 0.3s linear;
  color: #1a1a1a !important;
  border-right: 1px solid #e8e8e8 !important;
}

#collapse-sidenavbar .nav-name {
  display: none;
} */

.nav-menu a {
  position: relative;
  color: #1a1a1a !important;
  text-decoration: none;
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 3px;
  font-weight: 500;
}

.nav-menu a:hover {
  background-color: #f4b6b6;
  color: #fff !important;
}

.nav-menu a.active-here {
  background-color: #990000;
  color: #fff !important;
}

.nav-menu span {
  padding-left: 22px;
}

/* --- Side Nav Bubble ---
#collapse-sidenavbar .sidenav-bubble {
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 55px;
  border-radius: 3px;
  z-index: 999;
  text-transform: capitalize;
  box-sizing: border-box;
  -webkit-animation: sidenav-bubble 0.3s;
  animation: sidenav-bubble 0.3s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes sidenav-bubble {
  from {
    opacity: 0.89;
    left: 60px;
  }
  to {
    opacity: 1;
    left: 55px;
  }
}

@keyframes sidenav-bubble {
  from {
    opacity: 0.89;
    left: 60px;
  }
  to {
    opacity: 1;
    left: 55px;
  }
}
.sidenav-bubble p {
  position: relative;
  white-space: nowrap;
  margin: 0;
  padding: 5px 12px;
  font-weight: bold;
  color: #1a1a1a;
}

.sidenav-bubble p:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 4px solid #fff !important;
  border-bottom: 5px solid transparent;
} */

@media only screen and (max-width: 720px) {
  /* #collapse-sidenavbar {
    display: none !important;
  }
  #open-sidenavbar {
    display: none !important;
  } */
  .header-logo-text1 {
    display: none !important;
  }
  .header-logo-text {
    white-space: nowrap;
  }
  .dropdown-names {
    white-space: nowrap;
  }
  .entries-perpage {
    white-space: nowrap;
    margin-right: 1rem;
  }
  .header-logo {
    display: block !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .allemployees-container-main {
    overflow-y: scroll;
  }
}
.entries-perpage {
  color: #5c5c5c;
  margin-left: 25px;
  white-space: nowrap !important;
}

.entries-perpage select {
  color: #5c5c5c;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: 0;
  border: 1px solid #cfcfcf;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.entries-perpage select:focus {
  border: 1px solid #e2522e;
  box-sizing: 0 0 3px #000;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

@media only screen and (max-width: 1220px) {
  .entries-perpage {
    color: #5c5c5c;
    margin-left: 25px;
    white-space: nowrap !important;
    margin-right: 1rem !important;
  }
}

.table-active-items {
  display: flex;
  justify-content: space-around;
}

.pagination-container {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap !important;
}

.pagination-container a {
  color: #707683;
  padding: 0.25rem 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
}

.pagination-container a:hover {
  color: #bf8412 !important;
  border: 1px solid #bf8412;
}

.pagination-active a,
.pagination-active a:hover {
  background-color: #bf8412 !important;
  color: #ffffff !important;
  border: 1px solid #bf8412 !important;
}

#table-footer a.previous-btn,
#table-footer a.next-btn {
  color: #bf8412;
}

.pagination-disabled a,
.pagination-disabled a:hover {
  color: #b4b4b4 !important;
  cursor: not-allowed;
}

/* --- End Pagination --- */
#tfoot-ReactPaginate {
  display: flex;
  justify-content: space-between !important;
  padding: 0.8rem 0.4rem;
  margin-top: 0.8rem;
  flex-wrap: wrap !important;
}

.modal-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-bottom: 1px solid #dee2e6;
  background-color: #990000 !important;
  color: #ffffff !important;
  text-align: center !important;
}

.span-center-title {
  font-size: x-large;
}

.Modal-Body {
  padding: 2rem 2rem 1rem 2rem;
}

.Modal-Input {
  width: 100%;
  padding: 0.9rem;
  border: 2px solid #b2b2b2 !important;
  border-radius: 5px;
}

.Modal-textarea-middle {
  margin-top: 1rem;
}

.Modal-textarea {
  width: 100%;
  border: 2px solid #b2b2b2 !important;
  border-radius: 5px;
  padding: 0.9rem;
}

.Modal-two-input {
  width: 50%;
}

.Modal-data-time {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}

#Modal-textarea-input-sub {
  width: 100% !important;
  padding: 0.9rem !important;
  border: 2px solid #b2b2b2 !important;
  border-radius: 5px !important;
}

.div-space {
  width: 1rem;
}

.Add-btn-modal {
  width: 100%;
  background-color: #990000 !important;
  color: #fff !important;
  padding: 0.8rem !important;
}

.btn-modal-container {
  padding-top: 2rem;
}

.Create-event {
  width: 100%;
  padding: 0.4rem 2rem !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  font-size: 1.4rem;
  background-color: #990000 !important;
  color: #ffffff !important;
  margin-top: 1rem !important;
}
.weekly-top-container {
  width: 100%;
  min-height: 20% !important;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 1rem;
}

.weeklycontainer {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border: 1px solid #e8e8e8;
}

.weeklycontainer-sub-head {
  display: grid;
  grid-template-columns: 3fr 5fr;
  width: 100%;
  height: 200px;
}

.weeklyreporttop-container-card-1 {
  padding-right: 2rem !important;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.weekly-top-card-1-sub {
  background-color: #ffffff;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 2fr 4fr;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
  border: 1px solid #5c5c5c;
}

.weekly-top-card-1-sub p:nth-child(odd) {
  color: #5c5c5c;
  font-size: medium;
  font-weight: 700;
  color: #990000;
  border-right: 1px solid #5c5c5c;
  padding-left: 2rem !important;
}

.weekly-top-card-1-sub p {
  border-top: 1px solid #5c5c5c;
  padding: 8px;
  margin: 0;
  color: #990000;
  font-weight: bold;
  background-color: rgba(240, 248, 255, 0.497);
}

.weekly-top-card-1-sub p:first-child {
  border-top: none !important;
}

.weekly-top-card-1-sub-second-child {
  border-top: none !important;
}

.weekly-grading-system {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 1px #b2b2b2;
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
  border: 1px solid #5c5c5c;
  color: #990000;
  font-weight: bold;
}

.weekly-grading-system p {
  border-top: 1px solid #b2b2b2;
  padding: 5px;
  margin: 0;
  background-color: rgba(240, 248, 255, 0.497);
}

.weekly-grading-system p:first-child {
  background-color: #990000;
  color: #ffffff;
  border-top: none !important;
}

#table-wrapper {
  overflow-x: scroll;
  padding: 0px 1rem;
}

/*---------- TABLES ----------*/
/*----- basics -----*/
#table-wrapper table {
  border-collapse: collapse;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 2000px;
  width: 100%;
  margin: 10px auto 20px auto;
}

/*----- table headings -----*/
#table-wrapper th {
  background-color: #990000;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(26, 26, 26);
  padding: 2px;
  text-align: left;
  font-size: 18px;
  white-space: nowrap;
  align-items: center !important;
}

/*----- table data (a cell) -----*/
#table-wrapper td {
  padding: 8px;
  border-bottom: 1px solid rgb(26, 26, 26);
  border: 1px solid rgb(26, 26, 26);
  word-wrap: break-word;
  white-space: nowrap;
}

#table-wrapper td:nth-of-type(2) {
  min-width: 600px !important;
  word-wrap: break-word !important;
}

#table-wrapper td:nth-of-type(3) {
  min-width: 600px !important;
  word-wrap: break-word !important;
}

#table-wrapper td:nth-of-type(4) {
  min-width: 600px !important;
  width: 100% !important;
  word-wrap: break-word !important;
}

#td-span-row {
  min-width: 100px;
}

/*----- table row hover animation -----*/
#table-wrapper tr {
  transition: background-color 0.5s;
}

#table-wrapper tr:hover {
  background-color: #e8e8e8;
}

#table-wrapper td {
  transition: background-color 0.4s;
}

#table-wrapper td:hover {
  background-color: lightgrey;
}

.table-iner-span {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center !important;
  border-top: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: #990000;
  font-style: italic;
}

.Activities-title {
  text-align: center;
  position: relative;
  left: 150px;
}

.WeeKlyReport-tab {
  margin-right: 5px;
}

.WeeKlyReport-sub {
  margin-left: 1rem;
}

.weekly-report-title {
  text-align: center;
  font-size: bold;
  color: #990000;
}

.kpi-top-container {
  width: 100%;
  min-height: 20% !important;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.grading-system-contain {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.kpi-top-container-card-1 {
  padding-right: 2rem !important;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.kpi-top-container-card-2 {
  width: 100%;
  height: 100%;
}

.grading-system {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 1px #b2b2b2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
}

.grading-system p:nth-child(odd) {
  color: #5c5c5c;
  font-size: medium;
  font-weight: 700;
  text-align: center;
  border-right: 1px solid #b2b2b2;
}

.grading-system p {
  border-top: 1px solid #b2b2b2;
  padding: 10px;
  margin: 0;
}

.grading-system p:first-child {
  border-top: none !important;
}

.grading-system-second-child {
  border-top: none !important;
}

.kpi-top-card-1 {
  width: 100%;
  height: 55px;
  background-color: #990000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
}

.kpi-top-card-1-sub {
  background-color: #ffffff;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 2fr 4fr;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
}

.kpi-top-card-1-sub p:nth-child(odd) {
  color: #5c5c5c;
  font-size: medium;
  font-weight: 700;
  border-right: 1px solid #ededed;
  padding-left: 2rem !important;
}

.kpi-top-card-1-sub p {
  border-top: 1px solid #ededed;
  padding: 20px;
  margin: 0;
}

.kpi-top-card-1-sub p:first-child {
  border-top: none !important;
}

.kpi-top-card-1-sub-second-child {
  border-top: none !important;
}

.kpi-top-container-card-3 {
  width: 100%;
  margin-top: 2rem;
}

.performance-field {
  padding: 0px 30px;
  margin-bottom: 0 !important;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 2px #e8e8e8;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.table-datacell-color {
  background-color: #c99b9b !important;
  border-radius: 0px !important;
}

.table-datacell-color2 {
  background-color: #990000 !important;
  border-radius: 0px !important;
  color: rgb(255, 255, 255) !important;
}

.table-datacell-button-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.table-datacell-button-bottom-color1 {
  font-size: larger;
  font-weight: bold;
  background-color: #990000 !important;
  color: rgb(255, 255, 255) !important;
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
}

.table-datacell-button-bottom-color2 {
  font-size: larger;
  font-weight: bold;
  padding: 1rem 3rem;
  border: 2px solid #990000;
  border-radius: 0px 10px 10px 0px;
}

.emp-reconmentdetion {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.emp-reconmentdetion-sub {
  width: 50%;
  height: 400px;
}

.emp-reconmentdetion-sub-space {
  width: 1rem;
}

.reconmentdetion-sub-title {
  width: 100%;
  height: 70px;
  background-color: #990000;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255) !important;
}

.policy-title {
  text-align: center;
  color: #990000;
  margin-bottom: 2rem;
}

.policy-title-p {
  font-size: larger;
  padding-left: 5rem;
  padding-right: 5rem;
}

.policy-container {
  width: 100%;
  min-height: 100%;
  background-color: #fff !important;
  padding: 5rem;
}

.policy-container-sub {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1080px) {
  .policy-title-p {
    font-size: medium;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.departments-main-container {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
}

@media only screen and (max-width: 1220px) {
  .departments-main-container {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    overflow-x: scroll !important;
  }
}
.GoSearch {
  border: none !important;
  background-color: none !important;
  color: none !important;
  background-color: transparent !important;
  width: 350px;
  height: 40px;
}

.GoSearch-container {
  border: 2px solid #b2b2b2;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.GoSearch-container input::-moz-placeholder {
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.GoSearch-container input:-ms-input-placeholder {
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.GoSearch-container input::placeholder {
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.Search-input {
  color: #b2b2b2;
  padding-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

::-moz-placeholder {
  color: #b2b2b2;
}

:-ms-input-placeholder {
  color: #b2b2b2;
}

::placeholder {
  color: #b2b2b2;
}

.Department-item {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

@media only screen and (max-width: 1400px) {
  .Department-item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
}
@media only screen and (max-width: 820px) {
  .Department-item {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .Department-item {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
}
.Department-container-item-sub {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 80px;
  height: 80px;
  background-color: #990000;
  border-radius: 8px;
}

.Department-item-sub-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Department-item-sub-p {
  padding-top: 1rem;
  font-weight: bold;
}

.container {
  display: flex;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-todo-input {
  width: 1rem;
  height: 1rem;
  background-color: #1a1a1a;
}

.main-todo-input {
  padding-right: 1rem;
}

.main-todo-Event {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 4rem;
  width: 100%;
  padding: 0.3;
  background-color: #f6f6f6;
  border: 2px solid #e3e3e3 !important;
  margin-bottom: 1rem;
}

.main-todo-title {
  margin-bottom: 1rem;
}

.main-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-todo-1 {
  width: 100%;
  height: 90%;
}

.main-todo-2 {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 10%;
}

.show-btn {
  height: 1rem !important;
  font-weight: bold !important;
  border: 2px solid #990000 !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #990000 !important;
  font-weight: bold !important;
}

.show-btn {
  height: 1rem !important;
  font-weight: bold !important;
  border: 2px solid #990000 !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #990000 !important;
  font-weight: bold !important;
}

.Add-btn {
  height: 1rem !important;
  font-weight: bold !important;
  background-color: #990000 !important;
  padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #ffffff !important;
}
.Add-btn .MuiButton-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.OpenInFull {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  margin: 2px !important;
  cursor: pointer;
}

.event-time {
  color: #990000;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  align-items: center;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 10px;
}

.event-days {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 36px;
  line-height: 20px;
  margin-bottom: 10px;
  font-feature-settings: "salt" on, "liga" off;
}

.event-months {
  font-weight: bold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px !important;
}

.main-min-text {
  margin-top: 2.5rem;
  padding-left: 5px;
  box-sizing: border-box !important;
  flex-wrap: wrap;
  height: 70%;
}
.main-min-text-header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.main-min-text2 {
  padding-top: 10px;
  flex-wrap: wrap;
  width: 90%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.main-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 0 0 1rem;
}

.main-div-col-1 {
  width: 96%;
  height: 100%;
}

.main-div-col-2 {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  width: 100%;
  height: 98%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.main-div-col-1-sub {
  width: 100%;
  height: 24%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.main-div-col-2-sub {
  width: 100%;
  height: 74%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  padding: 1.2rem;
}

.main-div-col-1-sub-min {
  width: 97%;
  height: 10.625rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-template-columns: 1.2fr 2fr;
}

.main-div-col-1-sub-min-img {
  width: 100%;
  height: 100%;
}

.main-div-col-2-sub {
  display: flex;
  flex-direction: column;
}

.Announcement-sub-1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Announcement-container {
  overflow: auto;
}

.BsFillPinAngleFill {
  margin-right: 1rem;
}

.main-todo-note {
  margin-left: 0.8rem;
}

.Announcement-sub-text {
  display: flex !important;
  align-items: center !important;
}

.sub-text-contained {
  margin-right: 4rem !important;
}

.Announcement-sub-2 {
  width: 100%;
}

.main-sub-img {
  -o-object-fit: fill;
  object-fit: fill;
  width: 12.625rem;
  height: 9.875rem;
  position: relative;
  right: 2rem;
  margin-top: 0.75rem;
}

.main-div-col-1-sub-min-text {
  width: 100%;
  min-height: 9.875rem !important;
}

.main-div-col-2-sub-min {
  position: relative;
  width: 12.5rem;
  height: 10.625rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
}

.main-todo-note-minutes {
  font-family: "Roboto", sans-serif !important;
  font-size: small !important;
  color: #686868;
}

.main-todo-input-time {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  color: #686868;
}

.FiTrash2 {
  padding-right: 0.7rem;
}

@media only screen and (max-width: 720px) {
  .Announcement-sub-text {
    margin-right: 1rem;
  }
  .main-div-col-2-sub-min {
    display: none !important;
  }
  .main-div-col-1-sub {
    display: block;
  }
  .main-div-col-1-sub-min {
    width: 100%;
  }
  .Announcement-sub-1 {
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }
}
@media only screen and (max-width: 1200px) {
  .main-min-text {
    overflow-y: scroll !important;
  }
  .main-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0 0 1rem;
  }
  .main-div-col-1 {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .main-min-text {
    overflow-y: scroll !important;
  }
}
.DashboardCalender-top-btn {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.Calender-top-btn-sup {
  display: flex;
}

.Create-event-Calender {
  width: 90%;
  height: 2rem;
  font-weight: bold !important;
  border-radius: 4px !important;
  font-size: 1.4rem;
  background-color: #990000 !important;
  color: #ffffff !important;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: sans-serif;
  border: 4px solid #e6e6e6;
  position: relative;
}

.calendar a {
  color: grey;
}

.cell {
  background: #fffeee;
  width: 14.2857%;
  height: 90px;
  font-size: 0.7em;
  box-shadow: 0 0px 1px #393939;
}

.cell .date {
  margin: 4px;
}

.current {
  background: #d3edd3;
}

.current .date {
  font-weight: bold;
}

.otherMonth {
  background: #f7f7f7;
}

.otherMonth .date {
  color: #bfbfbf;
}

.addEventOnDay {
  display: inline-block;
  color: #4f4f4f;
  text-decoration: none;
  margin-left: 4px;
  background: #e1e1e1;
  padding: 0 6px;
  border-radius: 3px;
}

.miniEvent {
  background: #1f86ef;
  color: white;
  padding: 3px;
  font-size: 1em;
  cursor: pointer;
}

.miniEvent.holiday {
  background: #3fb73f;
}

.miniEvent.busy {
  background: #e7713c;
}

.navigation {
  width: 100%;
  padding: 10px 8px 14px 8px;
  border-bottom: 3px solid #b3b3b3;
}

.navigation div {
  display: inline-block;
  width: 33.33%;
}

.navigation .monthAndYear {
  text-align: center;
  font-weight: bold;
}

.navigation .monthAndYear a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  background: #27bc27;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  text-shadow: 0 0px 2px #727272;
}

.navigation .back,
.navigation .forward {
  cursor: pointer;
  font-size: 0.7em;
  color: grey;
}

.navigation .back {
  text-align: left;
}

.navigation .forward {
  text-align: right;
}

.dayLabel {
  font-weight: bold;
  text-align: center;
  height: auto;
  padding: 10px 0;
  background: #e9e9e9;
  border-bottom: 3px solid #cacaca;
}

.addEvent {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  width: 100%;
  background: #3fb73f;
  border-bottom: 2px solid green;
  color: white;
  padding: 10px;
}

.form input,
.form select {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 6px 0 10px 0;
  border: 3px solid #cacaca;
  border-radius: 4px;
  background: #f9f9f9;
}

.form select {
  width: 100%;
}

.form label {
  font-weight: bold;
  text-align: left;
  font-size: 0.8em;
  display: block;
}

.button-green {
  width: 100%;
  background: #3fb73f;
  border: 0;
  border-bottom: 3px solid green;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-red {
  background: #c82727;
  border: 0;
  border-bottom: 3px solid #a51616;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.377);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-calender {
  background: white;
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.modal-calender .inner {
  padding: 20px 30px 30px 30px;
}

.modal-calender h3 {
  margin: 0;
  background: #e6e6e6;
  padding: 12px;
  border-radius: 5px;
}

.modal-calender p {
  font-size: 0.8em;
  line-height: 1.5em;
}

.modal-calender .close {
  margin-top: 22px;
  font-size: 0.7em;
  display: block;
}

.eventModal p {
  margin-bottom: 24px;
}

.eventModal p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.eventModal .delete {
  display: block;
  background: #df3317;
  border-bottom: 2pxsolid #a90c0c;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 3px;
  margin-bottom: 6px;
}

.eventModal .button-red {
  margin-top: 8px;
}

.feedback {
  position: absolute;
  width: 90%;
  padding: 16px 0;
  left: 5%;
  text-align: center;
  bottom: 5%;
  background: #3fb73f;
  border-bottom: 3px solid green;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.loader {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -38px;
}

/* animated loading spinner from https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Drawer css */
[aria-hidden="true"] {
  visibility: visible;
}

.Drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  will-change: transform, visibility;
  transition: transform 0.3s linear;
  background-color: #f5f5f5;
}

.Drawer1 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 80vh;
  transform: translate(100%, 0);
  will-change: transform, visibility;
  transition: transform 0.3s linear;
  background-color: #f5f5f5;
}

.Drawer[aria-hidden="true"] {
  transform: translate(0, 0);
  transition: transform 0.3s linear;
}

.Drawer[aria-hidden="true"] {
  transition: visibility 0s linear 0.3s, transform 0.3s linear;
}

.Drawer-main {
  margin: 6%;
  margin-right: 2%;
  margin-left: 2%;
}

.allemployees-container-main {
  display: flex !important;
  justify-content: space-between !important;
}

.allemployees-container {
  width: 100%;
  height: 100%;
}

.allemployees-container-sup {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allemployees-sup-item1 {
  margin-right: 2rem;
}

.allemployees-sup-item2 {
  margin-right: 4rem;
}

@media only screen and (max-width: 1220px) {
  .allemployees-container-main {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
  }
}
.SupportmainTitle {
  display: flex;
  justify-content: space-between;
}

.SupportmainTitleh3 {
  color: #990000;
}

.SiteWorkermaindiv {
  display: flex;
  justify-content: space-between !important;
}

.SiteWorkermaindivsub {
  display: flex !important;
  align-items: center !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.SupportmainTitleh3 {
  margin-left: 1rem;
  white-space: nowrap !important;
}

@media only screen and (max-width: 1220px) {
  .SiteWorkermaindiv {
    display: flex;
    justify-content: space-between !important;
    overflow-x: scroll;
  }
}
#leave-status-btn {
  padding: 3px 3rem;
  color: #2e8107;
  border: 2px solid #2e8107;
  border-radius: 8px !important;
  margin: 10px 0px;
  font-weight: bold;
}

#leave-status-btn-error {
  padding: 3px 2rem;
  color: #ac1b1b;
  border: 2px solid #ac1b1b;
  border-radius: 8px !important;
  font-weight: bold;
}

#login-wrapper {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  filter: brightness(40%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 50;
}

.login-content-layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(-webkit-min-content, 1280px) 1fr;
  grid-template-columns: 1fr minmax(min-content, 1280px) 1fr;
  grid-template-rows: 20px minmax(-webkit-min-content, 1fr) 20px;
  grid-template-rows: 20px minmax(min-content, 1fr) 20px;
  min-height: 100%;
  gap: 0 20px;
}

.login-content-grid {
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: repeat(12, 1fr);
}

.logo-section {
  grid-column: 2/5;
}

.logo-section div {
  width: 17rem;
}

.logo-section p {
  color: #fff;
  font-size: large;
  padding-left: 5rem;
  font-style: italic;
}

.login-form-container {
  position: relative;
  grid-column: 8/12;
  background-color: #fff;
  padding: 0 50px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 500px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15),
    0 0 16px rgba(218, 209, 209, 0.15);
}

.login-form-container button {
  background-color: #990000;
  color: white;
  border-radius: 4px;
  width: 100%;
  height: 55px;
  margin-top: 4rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15),
    0 0 16px rgba(218, 209, 209, 0.15);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.login-form-container button:hover {
  background-color: #990000;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2e2e2e;
  opacity: 1; /* Firefox */
  font-weight: 500;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2e2e2e;
  opacity: 1; /* Firefox */
  font-weight: 500;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2e2e2e;
  opacity: 1; /* Firefox */
  font-weight: 500;
}

.Forgot-password {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-weight: 500 !important;
  align-items: center;
}

.Forgot-click-here {
  font-weight: bold;
  font-style: italic;
}

.Forgot-here-input {
  width: 50px;
  height: 50px;
  border: 1px solid #2e2e2e !important;
}

.form-ctrl-login {
  width: 100%;
  height: 3.5rem;
  border: 2px solid #c5c5c5 !important;
  border-radius: 4px;
  padding: 1rem;
}

.logo-image {
  width: 250px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 980px) {
  .logo-section {
    display: none;
  }
  .login-form-container {
    grid-column: 2/12;
  }
}
.carousel-indicators {
  display: none !important;
}

.view-project-btn {
  font-weight: bold !important;
  background-color: #bf8412 !important;
  border-radius: 4px !important;
  color: #fff !important;
}
.view-project-btn .MuiButton-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.project-main-div-col-1 {
  width: 101%;
  height: 100%;
}

.project-main-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0 0 1rem;
}

.project-main-div-col-1-sub {
  width: 100%;
  height: 28%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1.5fr;
}
.project-main-div-col-1-sub-min {
  position: relative;
  width: 89%;
  height: 10.625rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
}
.project-main-div-col-1-sub-min-text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
}

.project-main-div-col-2-sub {
  width: 100%;
  height: 28%;
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr;
}
.project-main-div-col-2-sub-max {
  height: 334px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.project-main-div-col-2-sub-max1 {
  height: 334px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.project-main-div-col-2-sub-max2 {
  height: 334px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.project-main-div-col-2-sub-max2 .react-calendar {
  border: none;
}
.project-main-div-col-2-sub-max2-request-button {
  width: 74%;
  height: 40px;
  left: 29px;
  font-weight: bold !important;
  border-radius: 4px !important;
  font-size: 1.4rem;
  background-color: #990000 !important;
  color: #fff !important;
  margin-top: 1rem !important;
}
.project-main-div-col-2-sub-min {
  height: 49%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}
.project-main-div-col-2-sub-min-calendar {
  width: 88%;
}
.project-main-div-col-2-sub-min-main {
  width: 95%;
  overflow: overlay;
}
.project-main-div-col-2-sub-min-main__header {
  justify-content: space-between;
  width: 95%;
  height: 42px;
  display: flex;
  background: rgba(153, 0, 0, 0.3);
  border-radius: 4px;
  padding: 10px;
  border-left: 8px solid #990000;
  margin-bottom: 15px;
}
.project-main-div-col-2-sub-min-main__header h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.project-main-div-col-2-sub-min-main__header-plus {
  -o-object-fit: fill;
  object-fit: fill;
  width: 23px;
  height: 23px;
}
.project-main-div-col-2-sub-min-secondary {
  width: 87%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.project-main-div-col-2-sub-container {
  width: 100%;
  margin-left: 3rem;
}
.project-main-div-col-2-sub-container-title {
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  margin: 0;
}
.project-main-div-col-2-sub-container-title1 {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
}
.project-main-div-col-2-sub-container-subTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.project-main-div-col-2-sub-container-subTitle1 {
  font-weight: 400;
  font-size: 8px;
  line-height: 0px;
  color: #bf8412;
}
.project-main-div-col-2-sub-container1 {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}
.project-main-div-col-2-sub-container1-flex {
  display: flex;
}
.project-main-div-col-2-sub-container1-flexMargin {
  margin-left: 12px;
  margin-top: 14px;
}
.project-main-div-col-2-sub-container1-title {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
}
.project-main-div-col-2-sub-container1-subTitle {
  font-weight: 400;
  font-size: 8px;
  line-height: 0px;
  color: #bf8412;
}
.project-main-div-col-2-sub-container1-image {
  -o-object-fit: fill;
  object-fit: fill;
  width: 45px;
  height: 45px;
}

.project-sub-img {
  -o-object-fit: fill;
  object-fit: fill;
  width: 93px;
  height: 93px;
  margin-top: 1.75rem;
}
.project-sub-img__name {
  font-weight: 500;
  font-size: 10px;
  line-height: 1px;
  margin-top: 8px;
}
.project-sub-img__title {
  font-weight: 400;
  font-size: 8px;
  line-height: 0px;
  color: #bf8412;
}

.project-main-todo-Event {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 4rem;
  width: 100%;
  padding: 0.3;
  border-bottom: 2px solid #e3e3e3 !important;
  margin-bottom: 1rem;
}

.project-main-todo-note {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.project-main-todo-note-big {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.addemployeecontainer {
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
}

.addemployeecontainer-sup {
  background-color: #990000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5rem;
  overflow-y: scroll;
}

.addemployee-sup {
  display: flex;
  padding: 1rem;
}

.addemployeecontainer-title {
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.addemployee-space {
  width: 1rem;
}

.addemployee-back {
  border: 2px solid #ffffff !important;
  padding: 4px 2rem !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

.addemployee-back2 {
  border: 2px solid #ffffff !important;
  padding: 4px 2rem !important;
  color: #990000 !important;
  font-weight: bold !important;
  background-color: #ffffff !important;
}

.addemployee-essential-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  align-self: center;
}

.essential-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
}

.vl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  margin-bottom: 1rem;
}

.vl-hline {
  width: 16rem;
  height: 1.5px;
  background-color: rgb(26, 26, 26);
  border-radius: 10;
}

.vl-circles {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid rgb(26, 26, 26);
  background-color: #ffffff;
  z-index: 999999 !important;
}

.vl-circles-active {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #990000;
  z-index: 999999 !important;
}

.vl-circles-title {
  color: #686868 !important;
}

.all-inputs-container {
  padding: 1rem 5rem;
  height: 100%;
}

.addemployeecontainer-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.next-tab-line-subs {
  display: flex;
}

.hr1 {
  width: 120px;
  height: 20px;
  border: 0;
  height: 2px !important;
  background-color: rgb(26, 26, 26);
  position: absolute;
}

.tab-line-subs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Stepper {
  position: relative;
  display: table;
  width: 50%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
  margin-top: 1rem;
  white-space: nowrap;
  overflow-y: scroll !important;
}

.Stepper__step {
  position: relative;
  display: table-cell;
  text-align: center;
  padding: 0.5rem;
}

.Stepper__indicator {
  position: relative;
  display: block;
  z-index: 2;
}

.Stepper__label {
  position: relative;
  display: block;
  margin: 0.5rem 0;
  color: #333333;
  z-index: 2;
}

.Stepper__info {
  position: relative;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid rgb(26, 26, 26);
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.Stepper__info__active {
  position: relative;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #990000;
  background-color: #990000;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.Stepper__panel {
  display: none;
}

.Stepper .Stepper__step:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 1.2rem;
  width: 100%;
  height: 0.125rem;
  background-color: rgb(26, 26, 26);
  z-index: 1;
}

.Stepper .Stepper__step:last-child:after {
  display: none;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

form {
  width: 100%;
}

.item {
  position: relative;
  margin: 10px 0;
}

.item:hover p,
.item:hover i {
  color: #990000 !important;
}

.item i {
  right: 1%;
  top: 30px;
  z-index: 1;
}

.btn-block {
  margin-top: 20px;
  text-align: center;
}

.name-item-input {
  width: 100%;
}

.name-item {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.imput-space {
  width: 3rem;
}

@media only screen and (min-width: 768px) {
  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-item input,
  .city-item input {
    width: calc(50% - 20px);
  }
  .city-item select {
    width: calc(50% - 8px);
  }
}
@media only screen and (max-width: 768px) {
  .Stepper {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1rem;
    white-space: nowrap;
    overflow-y: scroll !important;
  }
  .row-item {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}
@media only screen and (max-width: 1080px) {
  .Stepper {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1rem;
    white-space: nowrap;
    overflow-y: scroll !important;
  }
  .row-item {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  .all-inputs-container {
    padding: 1rem 1rem;
    height: 100%;
  }
}
.row-item {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-top: 1rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(64, 61, 59);
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(64, 61, 59, 0.8);
  display: none;
}

 

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #495057 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

#screen-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: -webkit-max-content 3fr;
  grid-template-columns: max-content 3fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "header header" "sidenav main";
}

main {
  grid-area: main;
  padding: 30px;
  overflow-y: scroll;
}

.View-btn {
  background-color: #bf8412 !important;
  color: #fff !important;
  padding: 5px 25px !important;
  font-weight: bold !important;
}

#white-btn-color {
  color: #fff !important;
}

#Add-btn-sub {
  width: 3.2rem !important;
}

.icon-space {
  margin-right: 0.4rem;
}

.leave-status-bt {
  border: 1px solid #990000;
}

.icon-bold {
  font-weight: bold;
}

.table-loader {
  color: #cacaca !important;
  text-align: center !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.table-loader p {
  color: #7a7a7a;
}

.pageEntries {
  font-weight: bold;
  color: #990000;
}

.back-btn-icon {
  font-weight: bold !important;
  background-color: #990000 !important;
  border-radius: 4px !important;
  color: #fff !important;
}

#team-applicatiom-update {
  background-color: #bf8412;
  color: #ffffff;
  padding: 0.1rem 1rem;
  font-weight: bold;
}

.modal-input-sub-space {
  margin-top: 1rem;
}

#form-inline {
  display: flex !important;
  flex-flow: row wrap !important;
  align-items: center !important;
  box-shadow: none !important;
  white-space: nowrap !important;
}

#search-input {
  padding: 0.7rem;
  width: 200px !important;
  border: 0px !important;
  background-color: #e6e6e6;
}

.search-btn {
  background-color: #990000 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  color: #ffffff !important;
  padding: 0.7rem 1rem;
  border: 0px !important;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

button.ccsnl-btn {
  background-color: #5c5c5c;
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 1.5rem;
  border: 2px solid #5c5c5c;
  transition: 0.25s;
}

button.ccsnl-btn:hover {
  background-color: transparent;
  color: #5c5c5c;
}

input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
} /*# sourceMappingURL=main.css.map */
