
// components
@use "./components/header.scss";
@use "./components/sidebar.scss";
@use "./components/tableoptions";
@use "./components/tablecomponent";
@use "./components/button";
@use "./components/pagination";
@use "./components/modals";
@use "./css/bootstrap.css";
@use "./components/weeklyreport";

// pages
@use "./pages/kpiassessment";
@use "./pages/policy";
@use "./pages/departments"; 
@use "./pages/dashboard.scss"; 
@use "./pages/allemployees"; 
@use "./pages/support"; 
@use "./pages/siteworkerrequest"; 
@use "./pages/leave"; 
@use "./pages/login.scss";    
@use "./pages/projects";
@use "./pages/viewprojects"; 
@use "./pages/createemployee"; 


@use "./abstracts/colors" as c;
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(64, 61, 59);
  display: none;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(64, 61, 59, 0.8);
  display: none;
}

body {
  font-family: "Inter", sans-serif !important;
  background: #f6f6f6;
  margin: 0;
  letter-spacing: normal;
  box-sizing: border-box !important;
  --box-shadow: 0 0 4px rgba(0, 0, 0, 0.025), 0 0 16px rgba(0, 0, 0, 0.025),
    0 0 32px rgba(0, 0, 0, 0.025), 0 0 64px rgba(0, 0, 0, 0.025);
}

td {
  white-space: nowrap !important;
}

Button {
  white-space: nowrap !important;
}

textarea{
  width: 100%;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}
input{
    width: 100%;
    	padding: 0.9rem;
	border: 2px solid c.color(border) !important;
	border-radius: 5px;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #495057 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

#screen-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: max-content 3fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header header"
    "sidenav main";
}

main {
  grid-area: main;
  padding: 30px;
  overflow-y: scroll;
}

.View-btn{
  background-color: #BF8412 !important;
  color: #fff !important;
  padding: 5px 25px !important;
  font-weight: bold !important;
}

#white-btn-color{
color: #fff !important;
}

#Add-btn-sub{
  width: 3.2rem !important;
}
.icon-space{
  margin-right: 0.4rem;
}

.leave-status-bt{
  // background-color: #fff !important;
  border: 1px solid c.color(primary-color);
}

.icon-bold{
  font-weight: bold;
}

.table-loader {
  color: #cacaca !important;
  text-align: center !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; 
}
.table-loader p {
  color: #7a7a7a; 
}

.pageEntries{
  font-weight: bold;
  color: c.color(primary-color);
}


.back-btn-icon {
  // height: 1rem !important;
  font-weight: bold !important;
  background-color: c.color(primary-color) !important;
  // padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #fff !important;
}

#team-applicatiom-update {
   background-color:  c.color(project-view-btn);
   color: c.color(white);
   padding: 0.1rem 1rem;
  font-weight: bold;
}

.modal-input-sub-space{
  margin-top: 1rem;
}

// custom search for all leave application
#form-inline {
    display: flex !important;
    flex-flow: row wrap !important;
    align-items: center !important;
    box-shadow: none !important;
    white-space: nowrap !important;
}

#search-input{
 padding: 0.7rem;
 width: 200px !important;
 border: 0px !important;
 background-color: c.color(search-color);
}

.search-btn { 
    background-color: c.color(primary-color) !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    color: c.color(white) !important;
    padding: 0.7rem 1rem;
    border: 0px !important;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

button.ccsnl-btn {
  background-color: c.color(grey);
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 1.5rem;
  border: 2px solid c.color(grey);
  transition: 0.25s;
}
button.ccsnl-btn:hover {
  background-color: transparent;
  color: c.color(grey);
}

 // input:hover, select:hover, textarea:hover { 
			// 			border: 1px solid c.color(primary-color) !important;
      // }
      input:focus, select:focus, textarea:focus { 
						border: 2px solid c.color(primary-color) !important;
      }

      // input[type="date"]::-webkit-inner-spin-button {
      // display: none !important;
      // }
 input[type="time"]::-webkit-inner-spin-button {
      margin: 2px 22px 0 0;
      }
  // .item i, input[type="date"]::-webkit-calendar-picker-indicator {
  //     position: absolute;
  //     font-size: 20px;
  //     color: #a9a9a9;
  //     }

      // [type="date"]::-webkit-calendar-picker-indicator {
      // right: 0;
      // z-index: 2;
      // opacity: 0;
      // cursor: pointer;
      // }




