// components
@use "./components/header.scss"; 
@use "./components/tableoptions";
@use "./components/input-field";
@use "./components/tablecomponent";
@use "./components/button";
@use "./components/pagination";
@use "./components/modals";
@use "./css/bootstrap.css";
@use "./components/weeklyreport";
@use "./components/todoshowall";
@use "./components/mobileSideBar"; 
@use "./components/Notification"; 
@use "./components/UploadBase.scss"; 
@use "./components/logoutModal"; 

// pages
@use "./pages/kpiassessment";
@use "./pages/policy";
@use "./pages/attendance";
@use "./pages/department";
@use "./pages/dashboard.scss";
@use "./pages/allemployees";
@use "./pages/support";
@use "./pages/siteworkerrequest";
@use "./pages/leave";
@use "./pages/login.scss";
@use "./pages/projectview";
@use "./pages/viewprojects";
@use "./pages/createemployee";
@use "./pages/profile";
@use "./pages/editUser";
@use "./pages/NotFound";
@use "./pages/team";
@use "./pages/viewsiteworkerrequest";
@use "./pages/announcement.scss";
@use "./pages/Reports";
@use "./pages/LoanInquiry.scss";

@use "./abstracts/colors" as c;
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
 
  // background: rgb(64, 61, 59);
 
  background: rgba(64, 61, 59, 0.386); 
 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(64, 61, 59, 0.8);
}

body {
  font-family: "Poppins", sans-serif !important;
  background: #f6f6f6;
  margin: 0;
  letter-spacing: normal;
  box-sizing: border-box !important;
  font-size: 12px !important;
}

td {
  white-space: nowrap !important;
}

Button {
  white-space: nowrap !important;
}

textarea {
  width: 100%;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}
input {
  width: 100%;
  padding: 0.9rem;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #495057 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

#screen-wrapper {
  display: grid;
  height: 100vh !important;
  grid-template-columns: max-content 3fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "header header"
    "sidenav main";
}

main {
  grid-area: main;
  padding: 30px;
  height: 100%;
  overflow-y: scroll
}
@media only screen and (max-width: 1200px) {
main {
  grid-area: main;
  padding: 10px;
  height: 100%;
  overflow-y: scroll
}
}
@media only screen and (max-width: 600px) {
main {
  grid-area: main;
  padding: 10px;
  height: 100%;
  overflow-y: scroll
}
}

// .YEPft {
//     margin-left: 16px;
// }
// .YEPft :hover{
//     color: #fff !important;
// }

// #SidebarLabel-container{
//   color: #c74b2c  !important;
//   font-weight: bold ;
// }
// #SidebarLabel-container :hover{
//   color: #fff !important;
//   font-weight: bold !important;
// }

.View-btn {
  background-color: #bf8412 !important;
  color: #fff !important;
  padding: 5px 25px !important;
  font-weight: bold !important;
}

#white-btn-color {
  color: #fff !important;
}

#Add-btn-sub {
  width: 3.2rem !important;
}
.icon-space {
  margin-right: 0.4rem;
}

.leave-status-bt {
  // background-color: #fff !important;
  border: 1px solid c.color(primary-color);
}

.icon-bold {
  font-weight: bold;
}

.table-loader {
  color: #cacaca !important;
  text-align: center !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.table-loader p {
  color: #7a7a7a;
}

.pageEntries {
  font-weight: bold;
  color: c.color(primary-color);
}

.back-btn-icon {
  // height: 1rem !important;
  font-weight: bold !important;
  background-color: c.color(primary-color) !important;
  // padding: 1.3rem !important;
  border-radius: 4px !important;
  color: #fff !important;
}

#team-applicatiom-update {
  background-color: c.color(project-view-btn);
  color: c.color(white);
  padding: 0.1rem 1rem;
  font-weight: bold;
}

.modal-input-sub-space {
  margin-top: 1rem;
}

// custom search for all leave application
#form-inline {
  display: flex !important;
  flex-flow: row wrap !important;
  align-items: center !important;
  box-shadow: none !important;
  white-space: nowrap !important;
}

#search-input {
  padding: 0.7rem;
  width: 200px !important;
  border: 0px !important;
  background-color: c.color(search-color);
}

.search-btn {
  // background-color: c.color(primary-color) !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  color: c.color(white) !important;
  padding: 0.7rem 1rem !important;
  border: 0px !important;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

button.ccsnl-btn {
  background-color: c.color(grey);
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 1.5rem;
  border: 2px solid c.color(grey);
  transition: 0.25s;
}
button.ccsnl-btn:hover {
  background-color: transparent;
  color: c.color(grey);
}

form input,
form select {
  background-color: rgba(0, 0, 0, 0.025);
  // width: 100%;
}
form input:focus,
form select:focus {
  background-color: var(--clr-white);
}

form select {
  // margin-bottom: 1vh;
  // height: 45px;
  // background-color: #fff;
  // border-radius: 3px;
  // border: 1px solid #e8e8e8;
  // box-shadow: 0 0 2px #e8e8e8;
  padding: 0.5rem;
  border: 2px solid c.color(border) !important;
  border-radius: 5px;
}
form input:focus,
form select:focus {
  border: 2px solid c.color(primary-color) !important;
  // box-shadow: 0 0 2px c.color(primary-color);
}
.form-control {
  box-shadow: none !important;
}

::placeholder {
  color: gray;
  opacity: 0.6;
}

input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
}

#Essential-btn {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 3rem !important;
  align-items: flex-end;
}

.search-form-ctrl {
  position: relative;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
form.searchbox {
  width: 20rem;
}

form input[type="search"] {
  background: c.color(search-color) !important;
  padding: 8px 15px;
  color: #4b4b4b;
  font-size: 0.9rem;
  width: 100%;
  outline: none;
  border: 0;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 1px #e8e8e8;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
form input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 1px c.color(border);
  border: 1px solid c.color(border);
}
form input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 5px;
  background-color: c.color(primary-color);
}
form.searchbox button {
  background-color: c.color(primary-color);
  position: absolute;
  top: 9px;
  right: 9px;
  color: #ffff;
  padding: 0 5px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
form.searchbox button i {
  font-size: 0.8rem;
}
form.searchbox button:hover {
  background-color: #c74b2c;
}

.btn-primary {
  background-color: c.color(primary-color) !important;
}

.css-13cymwt-control {
  border: 2px solid #b2b2b2 !important;
}

.ChatProgressView-header {
  width: 100% !important;
  height: 3.5rem !important;
  background-color: #fff !important;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  align-items: center;
  //  margin-bottom: 1.5rem;
}

.ChatProgressView-close {
  background-color: c.color(primary-color) !important;
  /* border: 1px solid #005b90!important;; */
  border-radius: 3px;
  height: 20px;
  padding: 16px 4px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size:30px; */
}

.ChatProgressView-close-icon {
  color: #fff !important;
}
.ChatProgressView-close-icon:hover {
  color: rgba(255, 0, 0, 0.778) !important;
}

.leave-Update-titile-icon {
  color: c.color(primary-color);
  font-weight: bold;
}

 
.in-progresss {
  font-weight: bold;
}
 
  .in-progresss{
    font-weight: bold;
  }

  .text-white-socket{
    font-size: small;
  }


  #btn-delete-field{
  border: 1px solid  c.color(primary-color) !important;
  border-radius: .5em !important;
  cursor: pointer !important; 
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 0.2rem .8em !important; 
  color: c.color(primary-color) !important;
  }
 
  // #btn-delete-field :hover{  
  // color: c.color(white-100) !important; 
  // }

  .btn-delete-field-icon{
    margin-right: 0.5rem;
  }

  #main-space{
  display: flex;
	justify-content: space-between !important;
 align-items: center; 
  }

  .SupportmainTitleh3{ 
	white-space: nowrap !important;
}
 

// table settings


 .status {
  color: #1aa385;
  display: inline-flex;
  align-items: center;
}
 .status svg {
  margin-right: 6px;
  width: 22px;
  height: 22px;
  padding: 3px;
  border-radius: 4px;
   color: #fff !important;
  background-color: #1aa385;
  color: currentColor;
}
 .status.is-red {
  color: red;
}
 .status.is-pending {
  color: #bf8412;
}
 .status.is-purple {
  color: purple;
}
 .status.is-red svg {
  background: red;
  color: currentcolor;
}
 .status.is-pending svg {
  background: #bf8412;
  color: currentcolor;
}
 .status.is-purple svg {
  background: purple;
  color: currentcolor;
}
 .status.is-red svg {
  background: red;
  color: currentcolor;
}
 .status.is-wait {
  color: #e2522e  !important;
  position: relative;
}
 .status.is-wait:before {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 5;
  top: 0;
  content: "";
  background: #e2522e ;
  border-radius: 4px;
}
 .status.is-wait svg {
  background-color: transparent;
  color: currentcolor;
  -webkit-animation: turn 2s linear infinite both;
          animation: turn 2s linear infinite both;
}

@-webkit-keyframes turn {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes turn {
  100% {
    transform: rotate(1turn);
  }
}

.move-svg-left{
  // float: left !important;
  // margin-left: 2rem !important;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem ;
  
  
}

.move-svg-center{
  display: flex !important;
  justify-content: center !important;
  // margin-left: 2rem !important;
}
 

 .swal2-confirm  {
      background: #990000 !important;
    color: #fff !important;
    cursor: pointer !important;
    border: solid 1px #990000 !important;
    padding: 0.25rem 0px !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    border-radius: 0px !important;
    font-size: 0.8rem !important;
 }
 .edit-password-btn  {
      background: #fff !important;
    color: #990000 !important;
    cursor: pointer !important;
    border: solid 1px #990000 !important;
    padding: 0.25rem 0px !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    border-radius: 0px !important;
    font-size: 0.8rem !important; 
 }


 //new



 

 
:root {
  --app-bg-dark: #fff; 
  --app-logo: #3d7eff;
  --nav-link: #5e6a81;
  --nav-link-active: #fff;
  --list-item-hover: #0c1635;
  --main-color: #fff;
  --secondary-color: #5e6a81;
  --color-light: rgba(52, 129, 210, .2);
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg:  #fed8b3;
  --draft-icon:  #e9780e; 
}

 
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1680px;
}

.app-left {
  flex-basis: 240px;
  background-color: var(--app-bg-dark);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;
  transition: all .4s ease-in;
  
  &.show {
    right: 0;
    opacity: 1;
  }
}

.app-main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  // background-color: var(--app-bg-light);
  padding:0px  24px 0px 0px ;
  // background: radial-gradient(circle, rgba(5,19,64,1) 1%, rgba(4,15,50,1) 100%);
}

.app-right {
  flex-basis: 320px;
  width: 320px;
  background-color: var(--app-bg-dark);
  // height: 80vh;
  // padding: 64px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .4s ease-in;
    border-radius: 8px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 48px;
    width: 100%;
    background-image: var(--app-bg-before);
    z-index: 1;
  }
  
  &.show {
    right: 0;
    opacity: 1;
  }
  
  .close-right { display: none; }
}

.app-right-content { 
  height: 100%; 
  
}
.app-right-section {
  flex: 1; 
  height: 76vh;
   overflow-y: scroll; 
  overflow-x: hidden;
  margin-bottom: 1rem;
}

 

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button { cursor: pointer; }

 
 

 

 

.main-header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 16px;
  
  h1 {
    color: var(--main-color);
    margin: 0;
    font-size: 24px;
    line-height: 32px;
  }
  
  input {
    border-radius: 4px;
    background-color: var(--color-light);
    border: none;
    border: 1px solid var(--color-light);
    color: var(--main-color);
    height: 32px;
    padding: 0 8px 0 32px;
    font-size: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233481d2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-position: center left 10px;
    background-repeat: no-repeat;
    background-size: 16px;
    outline: none;
    transition: .2s;
    width: 100%;
    max-width: 400px;
    margin-left: 16px;
    
    &:placeholder {
      font-size: 14px;
      color: rgba(255,255,255, 0.6);
    }
    
    &:hover, &:focus {
      border: 1px solid #3481d2;
      box-shadow: 0 0 0 3px var(--color-light);
    }
  }
}

.chart-row {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
  
  &.three .chart-container-wrapper {
    width: 33.3%;
    
    .chart-container { justify-content: space-between; }
  }
  
  &.two {
    .big {
      flex: 1;
      max-width: 77.7%;
      
      .chart-container {
        flex-direction: column;
      }
    }
    
    .small {
      width: 33.3%;
      
      .chart-container {
        flex-direction: column;
        + .chart-container { margin-top: 16px; }
      }
    }
  }
}

.line-chart {
  // height: 60vh;
  margin-top: 24px;
   height: 100%;
}

.chart-container {
  margin: 1px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--app-bg-dark);
  padding: 16px;
  display: flex;
  align-items: center;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  // border: 1px solid #e8e8e8 !important;
  
  &.applicants {
    max-height: 336px;
    overflow-y: auto;
  }
}

.chart-container-wrapper {
  padding: 8px;
}

.chart-info-wrapper {
  flex-shrink: 0;
  flex-basis: 120px;
  
  h2 {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 8px 0;
  }
  
  span {
    color: var(--main-color);
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
}

.chart-svg {
  position: relative;
  max-width: 90px;
  min-width: 40px;
  flex: 1;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1.2;
}

.circle {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circular-chart {
  &.orange {
    .circle { stroke: #ff9f00; }
    .circle-bg {stroke: #776547; }
  }
  
  &.blue {
    .circle { stroke: #00cfde; }
    .circle-bg { stroke: #557b88; }
  }
  
  &.pink {
    .circle { stroke: #ff7dcb; }
    .circle-bg { stroke: #6f5684; }
  }
}

.percentage {
  fill: #000;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: 400;
}

#chart-info-wrapper-span{
color:#000 !important;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.chart-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  
  h2 {
    margin: 0;
    color: var(--main-color);
    font-size: 12px;
    line-height: 16px;
    opacity: .8;
  }
  
  span {
    color: var(--app-logo);
    font-size: 12px;
    line-height: 16px;
  }
}

.acquisitions-bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
}

.bar-progress {
  height: 4px;
  display: inline-block;
  
  &.applications {
    background-color: rgba(255,125,203,1);
  }
  &.shortlisted {
    background-color: rgba(0,207,222,1);
  }
  &.on-hold {
    background-color: rgba(253,172,66,1);
  }
  &.rejected {
    background-color: rgba(255,92,92,1);
  }
}

.progress-bar-info {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: 100%;
}

.progress-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  
  &.applications {
    background-color: rgba(255,125,203,1);
  }
  
  &.shortlisted {
    background-color: rgba(0,207,222,1);
  }
  
  &.on-hold {
    background-color: rgba(253,172,66,1);
  }
  
  &.rejected {
    background-color: rgba(255,92,92,1);
  }
}

.progress-type {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 16px;
}

.progress-amount {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 16px;
  margin-left: auto;
}

.applicant-line {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    flex-shrink: 0;
  }
}

.applicant-info {
  span {
    color: var(--main-color);
    font-size: 14px;
    line-height: 16px;
  }
  
  p {
    margin : 4px 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-color);
  }
}

 

 

// .profile-text, .profile-subtext {
//   font-size: 12px;
//   line-height: 16px;
//   color: var(--secondary-color);
//   margin: 0 0 8px 0;
// }

// .profile-text { font-weight: 600; }

.app-right-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;
  // overflow-y: scroll;
  
  h2 {
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-color);
  }
  
  span {
    display: inline-block;
    color: var(--secondary-color);
    position: relative;
    
    &.notification-active:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--app-logo);
      top: -1px;
      right: -1px;
      box-shadow: 0 0 0 2px var(--app-bg-dark);
    }
  }
}

.message-line {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 8px;
  
  &:hover {
    background-color: var(--list-item-hover);
  }
  
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }
}

 

 

 

.activity-line {
  padding: 8px 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.activity-link {
  font-size: 12px;
  line-height: 16px;
  color: var(--app-logo);
  text-decoration: underline;
}

.activity-text  {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin: 0;
  
  strong {
    color: #fff;
    opacity: .4;
    font-weight: 500;
  }
}

.activity-icon {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 8px;
  
  &.warning {
    background-color: var(--warning-bg);
    color: var(--warning-icon);
  }
  
  &.applicant {
    background-color: var(--applicant-bg);
    color: var(--applicant-icon);
  }
  
  &.close {
    background-color: var(--close-bg);
    color: var(--close-icon);
  }
  
  &.draft {
    background-color: var(--draft-bg);
    color: var(--draft-icon);
  }
}

 

 
 

@media screen and (max-width: 1350px) {
  .app-right {
    flex-basis: 240px;
    width: 240px;
  }
  
  
}

@media screen and (max-width: 1200px) {
  .app-right {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 320px;
    right: -100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, .4);
    
    .close-right {
      position: absolute;
      top: 16px;
      right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      padding: 0;
      color: var(--main-color);
      cursor: pointer;
    }
  }
  
 
}

@media screen and (max-width: 1180px) {
  .chart-row.two {
    flex-direction: column;
  }
  
  .chart-row.two .big {
    max-width: 100%;
  }
  .chart-row.two .small {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    .chart-container {
      width: calc(50% - 8px);
      
      &.applicants {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 920px) {
 
  
  .app-left {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 320px;
    right: -100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, .4);
  }
  
  
}

@media screen and (max-width: 650px) {
  .chart-row.three {
    flex-direction: column;
  }
  
  .chart-row.three .chart-container-wrapper {
    width: 100%;
  }
  
  .chart-svg {
    min-height: 60px;
    min-width: 40px;
  }
}

@media screen and (max-width: 520px) {
  .chart-row.two .small {
    flex-direction: column;
  }
  
  .chart-row.two .small .chart-container {
    width: 100%;
    
    &.applicants {
      margin-top: 16px;
    }
  }
  
  .main-header-line h1 {
    font-size: 14px;
  }
}
